.form {
  max-width: var(--form-max-width);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.bottomSection {
  margin-top: 1.75rem;
}

.bottomSectionButtons {
  margin: 1.75rem 0;
}
