.login-modal {
  max-width: 560px;

  .submit-buttons {   
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .signup-buttons {
    display: flex;
    justify-content: flex-end;
  }
}
