.footer {
  display: flex;
  flex-direction: column;
  font-size: $text-sm-rem;
  margin-top: 3em;
  padding-top: 0.5em;

  .footer__top {
    display: flex;
    flex: 0 0 3em;
    justify-content: space-between;
    line-height: 3em;

    .footer-top__brand {
      flex: 0 0 auto;

      sup {
        font-size: $text-xs-rem;
      }
    }

    .footer-top__nsfw {
      display: flex;
      flex: 0 0 auto;
      
      > div {
        align-self: center;
      }
    }

    .footer-top__ui-theme {
      display: flex;
      flex: 0 0 auto;
      
      > div {
        align-self: center;
      }
    }

    .footer-top__license {
      flex: 0 0 auto;
    }

    @media(max-width: 399px) {
      .footer-top__license {
        display: none;
      }
    }
  }

  .footer__bottom {
    flex: 0 0 3em;
    line-height: 3em;
    margin-bottom: 1rem;
    
    .footer-bottom__link {  
      margin: 0 1.5em 0 -0.5em;
      padding: 0 0.5em;
    }

    @media (max-width: 399px) {
      .footer-bottom__link {  
        margin: 0 1.25em 0 -0.5em;
      }
    }

  }
}

[theme=light] {
  .footer {
    border-top: 1px solid $gray-lighter;

    a, span {
      color: $gray-dark;
      text-decoration: none;
    }

    a:hover {
      color: $gray-darker
    }
  }
}

[theme=dark] {
  .footer {
    border-top: 1px solid $gray-darker;

    a, span {
      color: $gray-light;
      text-decoration: none;
    }

    a:hover {
      color: $gray-lighter;
    }
  }
}
