.footer {
  display: flex;
  flex-direction: column;
  font-size: $text-sm-rem;
  margin-top: 3em;
  padding-top: 0.75em;

  .footer__top {
    display: flex;
    flex: 0 0 3em;
    justify-content: space-between;
    line-height: 3em;

    .footer-top__brand {
      flex: 0 0 auto;

      sup {
        font-size: $text-tiny-rem;
      }
    }

    .footer-top__nsfw {
      display: flex;
      flex: 0 0 auto;
      
      > div {
        align-self: center;
      }
    }

    .footer-top__ui-theme {
      display: flex;
      flex: 0 0 auto;
      
      > div {
        align-self: center;
      }
    }

    .footer-top__license {
      flex: 0 0 auto;
    }

    @media(max-width: 399px) {
      .footer-top__license {
        display: none;
      }
    }

    svg {
      @include preventFontAwesomeSizeFOUC;
    }
  }

  .footer__bottom {
    display: flex;
    flex: 0 0 3em;
    justify-content: space-between;
    line-height: 3em;
    margin-bottom: 1rem;
    
    .footer-bottom__link {  
      margin: 0 1.5em 0 -0.5em;
      padding: 0 0.5em;
    }

    @media (max-width: 399px) {
      .footer-bottom__link {  
        margin: 0 1.25em 0 -0.5em;
      }
    }

    .footer-bottom__social-link {
      font-size: large;
      margin: 0 -0.5em 0 1.5em;
      padding: 0 0.5em;
    }

    @media (max-width: 575px) {
      .footer-bottom__social-links {
        margin-top: 0.25em;
      }

      .footer-bottom__social-link {  
        margin: 0 1.25em 0 -0.5em;
      }
    }
  }

  @media (max-width: 575px) {
    .footer__bottom {
      display: block;
    }
  }

  .footer__disclaimer {
    font-size: $text-xs-rem;
    font-weight: 300;
    margin: 0 1.5em 1.5em -0.5em;
    padding: 0 0.5em;
    text-align: center;
  }

  .footer__app-links {
    display: flex;
    margin-bottom: 1.25rem;
  }
}

/* stylelint-disable */
html[data-theme=light] {
  .footer {
    border-top: 1px solid $gray-light;

    a, span {
      color: $gray-darker;
      text-decoration: none;
    }

    a:hover {
      color: $gray-darkest
    }

    .footer__disclaimer {
      color: $gray-darker;
    }
  }
}

html[data-theme=dark] {
  .footer {
    border-top: 1px solid $gray-darker;

    a, span {
      color: $gray-lighter;
      text-decoration: none;
    }

    a:hover {
      color: $gray-lightest;
    }

    .footer__disclaimer {
      color: $gray-lighter;
    }
  }
}
/* stylelint-enable */
