.view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .view__navbar {
    flex: 0 0 auto;
    z-index: 100;
  }

  .view__contents {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0;
    justify-content: space-between;
    overflow-y: scroll;
    padding: 1.5rem 0 0.5rem 0;
    scroll-behavior: smooth;

    .top {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      z-index: 99;
    }

    .bottom {
      flex: 0 1 auto;
      z-index: 99;
    }
  }

  .view__mediaplayer-spacer {
    flex: 0 0 100px;
  }

  .view__mediaplayer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 100;
  }
}