.view {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .view__top {
    flex: 1;
    height: 0;
    overflow-y: scroll;
    padding: 1rem 0;
  }

  .view__bottom {
    flex: 0 0 112px;
  }
}