.paypal-button, .paypal-button-loading {
  align-items: center;
  display: flex;
  font-size: 24px;
  height: 45px;
  justify-content: center;
  margin: 1.625rem 0 1.75rem 0;
}

.zoid-outlet {
  height: 45px !important;
}
