{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h4>Compatible Podcast Apps</h4>
    <p><b>Android:</b> Pocket Casts, Podcast Addict, Podcast Republic, others</p>
    <p><b>iOS:</b> Apple Podcasts, Downcast, Overcast, Pocket Casts, others</p>
    <p>We recommend <b>Pocket Casts</b> or <b>Overcast</b> because clicking a timestamp in an episode summary in either of those apps will take you automatically to a clip's start time.</p>
    <hr>
    <h4>How to load a Podverse playlist in a compatible podcast app</h4>
    <p>1) Click the "RSS Feed" button on a playlist page.</p>
    <p>2) Copy the RSS Feed URL for that playlist.</p>
    <p>3) Open a compatible podcast app then look for basically the "Add Podcast Manually" feature. This goes by different names in different apps. Like "Add Podcast by URL", "Add Podcast by RSS Feed", or "Import Feeds". Select that, paste the playlist's RSS Feed URL, and click save.</p>
    <p>4) The playlist should now be added in your podcast apps. It will update over time as new episodes or clips are added to it :)</p>
    <hr>
    <h4>Sample RSS Playlist Link</h4>
    <p>Want to give it a try now? Follow the steps above using this sample playlist link: <a href="https://podverse.fm/playlists/ByBClgeAl?rssFeed">https://podverse.fm/playlists/ByBClgeAl?rssFeed</a></p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script>
{% endblock %}
