.contentWrapper {
  margin: var(--spacing-container-y);
}

.messageSection {
  display: flex;
  flex: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: var(--font-size-lg);
  gap: var(--spacing-2xl);
}
