.ReactModalPortal {
  .ReactModal__Overlay.make-clip-modal-overlay  {
    @include blurredBackground();

    .ReactModal__Content.make-clip-modal {
      padding: 59px 100px 32px 100px;
      width: 789px;
      height: 100%;
      max-height: 636px;
      
      @include themeGen() {
        background-color: getThemeVal('backgroundTertiary') !important;
      }
    }
  }
}
