.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 25px 0;

  .button-circle.backwards {
    margin-right: 8px;
  }

  .button-circle.forwards {
    margin-left: 8px;
  }

  .button-square {
    margin: 0 8px;
  }
}

.skip {
  align-items: center;
  display: flex;
  justify-content: center;
  
  .button-skip {
    color: #3d9dfe;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}