.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 25px 0;

  .button-circle.backwards {
    margin-right: 8px;
  }

  .button-circle.forwards {
    margin-left: 8px;
  }

  .button-square {
    margin: 0 8px;
  }
}

.skip {
  align-items: center;
  display: flex;
  justify-content: center;
  
  .button-skip {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin: 0 0 24px 0;

    @include themeGen() {
      color: getThemeVal("textQuaternary");
    }
  }
}

@media (max-width: $media-max-width-mobile) {
  .pagination {
    .button-circle.backwards {
      margin-right: 5px;
    }

    .button-circle.forwards {
      margin-left: 5px;
    }

    .button-square {
      height: 32px;
      margin: 0 5px;
      width: 32px;
    }
  }
}
