.video-player-wrapper {
  position: fixed;
  bottom: 110px;
  right: 0;
  z-index: 1;
  pointer-events: all;

  > div {
    height: 220px !important;
    width: 390px !important;
  }
}

@media (max-width: $media-max-width-tablet-xl) {
  .video-player-wrapper {
    > div {
      max-height: 160px !important;
      max-width: 284px !important;
      height: 100% !important;
      width: 100% !important;
    }
  }
}

@media (max-width: $media-max-width-tablet) {
  .video-player-wrapper {
    bottom: 74px;

    > div {
      max-height: 160px !important;
      max-width: 284px !important;
      height: 100% !important;
      width: 100% !important;
    }
  }
}

@media (max-width: $media-max-width-mobile) {
  .video-player-wrapper {
    bottom: 74px;

    > div {
      max-height: 120px !important;
      max-width: 213px !important;
      height: 100% !important;
      width: 100% !important;
    }
  }
}
