.player-bar-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 520px;
}

.player-bar {
  margin: 0 20px;
}

.player-bar-label {
  font-size: 12px;
  min-width: 40px;

  @include themeGen() {
    color: getThemeVal("textTertiary");
  }

  &:first-child {
    text-align: right;
  }

  &:last-child {
    text-align: left;
  }
}
