.row {
  display: flex;
  margin-bottom: 1.5rem;
}

.row:last-child {
  margin-bottom: 0.625rem;
}

.link {
  display: flex;
  align-items: center;
  flex: 1;
  text-decoration: none !important;
}

.personImage {
  max-width: 64px;
  width: 100%;
  margin-right: 1rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.name {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-md);
}

.role {
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
}