{% extends "layout.html" %}

{% block body %}
<div id="settings">
  <h4>Settings</h4>
  <div class="clearfix"></div>
  <form>
    <div class="form-group">
      <label for="your-name">Name</label>
      <input type="text" class="form-control" id="settings-name" placeholder="your name">
      <small class="form-text text-muted">Visible to anyone who sees your playlists.</small>
    </div>
    <button type="button" class="btn btn-primary pull-right" id="settings-submit-btn">Submit</button>
    <button type="button" class="btn pull-right" onclick="window.history.back();">Cancel</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  // TODO: these should not be set on the window
  // This should get cleaned up whenever setWindowVars.html gets cleaned up.
  // At the moment I don't know how to load the nunjucks variables directly in JS.
  window.userName = '{{ name }}';
  window.userId = '{{ id }}';
</script>

<script src="/static/build/vendors.js"></script>
<script src="/static/build/settings/index.js"></script>
{% endblock %}
