.listWrapper {
  margin: var(--spacing-section-y);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.listTracks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.queueList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}
