{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h4>Podcasts</h4>
    <a class="podcast-list-request" href="https://docs.google.com/forms/d/e/1FAIpQLSdewKP-YrE8zGjDPrkmoJEwCxPl_gizEkmzAlTYsiWAuAk1Ng/viewform"><i class="fa fa-plus-circle"></i> Request a podcast</a>
    {% for podcast in podcasts %}
      <a class="podcast-item" href="/podcasts/{{podcast.id}}">
        <div class="podcast-item-image">
          <img class="lazy" data-original="{{podcast.imageUrl}}">
        </div>
        <div class="podcast-item-title">
          {{ podcast.title | stripTags }}
        </div>
        <div class="podcast-item-last-episode-pubdate">
          {{ podcast.lastEpisodePubDate | readableDate }}
        </div>
        <div class="podcast-item-last-episode-title">
          {{ podcast.lastEpisodeTitle | stripTags }}
        </div>
        <div class="clearfix"></div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="/static/build/vendors.js"></script>
  <script src="/static/build/podcasts/index.js"></script>
{% endblock %}
