.playlist-list-item {
  display: flex;

  a {
    border-radius: $item-border-radius;
    flex: 1;
    margin: 0 -10px;
    padding: 22px 10px 18px 10px;
  
    &:hover {
      @include themeGen() {
        background-color: getThemeVal('highlighted');
        cursor: pointer;
      }
    }
  
    .title {
      font-size: $text-xl;
    }
  
    .owner-name {
      font-size: $text-md;
      margin-top: 4px;
      
      @include themeGen() {
        color: getThemeVal('textSecondary');
      }
    }
  
    .items-count {
      font-size: $text-md;
      margin-top: 4px;
  
      @include themeGen() {
        color: getThemeVal('textSecondary');
      }
    }
  }
}

.playlist-list-item + hr {
  margin-bottom: 0;
}
