.embed-player-footer {
  align-items: center;
  border-radius: 0;
  border-top: 1px solid var(--pv-embed-border-color, #aaaaaa);
  display: flex;
  height: 43px;
  justify-content: space-between;
  padding: 12px 16px;

  .navbar__brand {
    display: flex;

    svg {
      display: inline;
    }
  }

  .embed-player-footer-links {
    display: flex;
    flex: 1;
    justify-content: space-between;

    .embed-player-footer-link {
      color: var(--pv-embed-text-color-primary, #ffffff);
      font-size: var(--pv-embed-font-size-xs, 13px);

      &:first-child {
        margin: 0 0 0 24px;
      }
    }
  }
}

.episode-only {
  .embed-player-footer {
    border-top: none;
    height: 43x;
    padding: 0 16px 0 16px;
  }
}
