.embed-player-header {
  border-bottom: 1px solid var(--pv-embed-border-color, rgba(255, 255, 255, .15));
  border-radius: 0;
  display: flex;
  padding: 10px 16px;

  .embed-player-header-image {
    img {
      display: block;
    }
  }

  .embed-player-header-inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;

    .embed-player-header-top {
      .embed-player-header-top-text {
        @include line-clamp(1);
        color: var(--pv-embed-text-color-secondary, #cccccc);
        font-size: var(--pv-embed-font-size-sm, 14px);
      }
      .embed-player-header-middle-text {
        @include line-clamp(1);
        font-size: var(--pv-embed-font-size-lg, 19px);
        margin-top: 3px;
      }
      .embed-player-header-bottom-text {
        @include line-clamp(1);
        color: var(--pv-embed-text-color-tertiary, #74a8dc);
        font-size: var(--pv-embed-font-size-tiny, 12px);
        font-weight: bold;
        margin-top: 4px;
      }
    }

    .embed-player-header-bottom {
      display: flex;

      .player-bar-container {
        flex: 1;
        margin: 0;
        width: 100%;

        .player-bar-label {
          min-width: auto;

          &:first-child {
            text-align: left;
          }
        }
        

        .player-bar {
          margin: 0 10px;
        }
      }

      .play, .pause {
        margin: 0 0 0 12px;
      }
    }
  }
}
