{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h4>Terms of Service</h4>
    <p style="font-weight: 500;">Podverse</p>
    <p>Does not host or edit podcast audio files. All audio files on podverse.fm are referenced from links in publicly available podcast feeds.</p>
    <p>Clips load within the full episode's media file, so the listener always has access to the full media file.</p>
    <p>Does not put advertisements next to or within podcast content, or anywhere on podverse.fm, without podcaster permission.</p>
    <p>Hosts podcast links and content from third-party podcast feeds and sites. These have their own independent privacy policies, and we have no responsibility for their content or activities.</p>
    <p>Will never sell user data.</p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script>
{% endblock %}
