{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h4>Terms of Service</h4>
    <p style="font-weight: 500;">Podverse</p>
    <p>1) Creates free and open source technology for discovering, listening to, and sharing podcasts and podcast highlights.</p>
    <p>2) Hosts podcast text metadata (titles, summaries, categories, etc.) found in publicly available podcast RSS feeds.</p>
    <p>3) Does not host or edit podcast images or audio files. All images and audio files on podverse.fm are referenced from links in publicly available podcast RSS feeds.</p>
    <p>4) Clips load within their full episode media files, so the clip listener has access to the full media file.</p>
    <p>5) Does not put advertisements next to or within podcast content, or anywhere on podverse.fm, without podcaster permission.</p>
    <p>6) Will take down any podcast's content from podverse.fm at their request.</p>
    <p>7) Will never sell user data.</p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script>
{% endblock %}
