{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h4>Terms</h4>
    <p>Podverse creates free and open source technology for listening to and sharing podcasts.</p>
    <p>Podverse hosts metadata about the podcast (e.g. podcast title, episode title, episode description) found in the podcaster's public RSS feed.</p>
    <p>Podverse does not host or edit podcaster images or audio files. All images and audio files are referenced from URLs in the podcaster's public RSS feed.</p>
    <p>Podverse does not put advertisements next to or within podcaster content, or anywhere on podverse.fm, without the podcaster's permission.</p>
    <p>Podverse will take down any podcaster's content from podverse.fm at the podcaster's request.</p>
    <p>Podverse will not sell user data.</p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script>
{% endblock %}
