html {
  color: var(--text-color-primary);
  font-size: var(--font-size-base) !important;
}

body {
  margin: 0;
}

hr {
  margin: 0;
  border-left: 0;
  border-right: 0;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
}

button:focus {
  box-shadow: var(--box-shadow-focus);
  background: none;
  outline: none;
}

a {
  color: var(--text-color-primary);
  text-decoration: none;
  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
}

a:focus {
  box-shadow: var(--box-shadow-focus);
  outline: none;
  background: none;
}

summary:focus {
  box-shadow: var(--box-shadow-focus);
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-light);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
}
