.markdown {
  h1 {
    margin-bottom: var(--spacing-lg);
    font-size: var(--font-size-2xl);
  }

  h2, h3, h4, h5, h6 {
    margin-top: var(--spacing-2xl);
    margin-bottom: var(--spacing-lg);
  }

  h2 {
    font-size: var(--font-size-xl);
  }

  h3 {
    font-size: var(--font-size-lg);
  }

  h4 {
    font-size: var(--font-size-md);
  }

  h5 {
    font-size: var(--font-size-base);
  }

  h6 {
    font-size: var(--font-size-sm);
  }

  p {
    margin-bottom: var(--spacing-lg);
  }
}
