NODE_ENV=development

NEXT_PUBLIC_API_PROTOCOL=http
NEXT_PUBLIC_API_HOST=localhost
NEXT_PUBLIC_API_PORT=1234
NEXT_PUBLIC_API_PREFIX=/api
NEXT_PUBLIC_API_VERSION=/v2

# FOR LOCAL DEVELOPMENT ONLY
# DO NOT USE IN PRODUCTION
OPENAI_API_KEY=your-api-key-here
