# Server side (secret) env vars

NODE_ENV=development

API_PROTOCOL=http
API_HOST=localhasdfost
API_PORT=1234
API_PREFIX=/api
API_VERSION=/v2

WEB_PROTOCOL=http
WEB_DOMAIN=localhost:3000

BRAND_NAME=Podverse

# FOR LOCAL DEVELOPMENT ONLY
# DO NOT USE IN PRODUCTION
OPENAI_API_KEY=your-api-key-here



# Client side (public) env vars

NEXT_PUBLIC_API_PROTOCOL=http
NEXT_PUBLIC_API_HOST=localhost
NEXT_PUBLIC_API_PORT=1234
NEXT_PUBLIC_API_PREFIX=/api
NEXT_PUBLIC_API_VERSION=/v2

NEXT_PUBLIC_WEB_PROTOCOL=http
NEXT_PUBLIC_WEB_DOMAIN=localhost:3000

NEXT_PUBLIC_BRAND_NAME=Podverse
