*.scss

__tests__
.github
.husky
.next
docs
node_modules
public
src/state/initialState.json
styles

.dockerignore
.editorconfig
.env
.eslintrc
.eslintrc.json
.example.env.old
.gitignore
.lintstagedrc
.npmrc
.nvmrc
.prettierignore
.prettierrc
Dockerfile
Jenkinsfile
LICENSE
package.json
README.md
stage_ssh_key
tsconfig.json
yarn.lock
