.password-validation-info {
  margin: -8px 0 26px 0;

  p {
    margin: 0;

    &.password-validation-info__is-valid {
      @include themeGen() {
        color: getThemeVal('textSuccess');
      }
    }
  }
}
