{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h4>About</h4>
    <p>Subscribe to podcasts</p>
    <p>Listen to and share podcast episodes</p>
    <p>Create and share podcast clips</p>
    <p>Create and share podcast playlists</p>
    <p>Playlists load as RSS feeds <a href="/how-to">in any podcast app</a></p>
    <p>Free and open software – <i class="fa fa-copyright fa-flip-horizontal"></i> AGPLv3</p>
    <p>Will never sell user data</p>
    <hr>
    <div id="about-social-icons">
      <a href="mailto:contact@podverse.fm" title="contact@podverse.fm"><i class="fa fa-envelope-o"></i></a>
      <a href="https://www.facebook.com/podverse"><i class="fa fa-facebook-official"></i></a>
      <a href="https://www.twitter.com/podverse"><i class="fa fa-twitter"></i></a>
      <a href="https://github.com/podverse"><i class="fa fa-github"></i></a>
    </div>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script>
{% endblock %}
