{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1 style="margin-top: 1.25rem">About</h1>
    <p>Podverse lets you create clips and playlists of your favorite podcasts and share them anywhere online.</p>
    <p>No login necessary</p>
    <p>Free / open source code</p>
    <p>Podverse will never add sponsors/ads to a podcaster's page except at the podcaster's request.</p>
    <p><a href="mailto:contact@podverse.fm">contact@podverse.fm</a> (doesn't exist yet)</p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script>
{% endblock %}
