{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <!-- <div class="header-button" data-toggle="modal" data-target="#subscribeToPlaylistModal">Add Playlist</div> -->

    <h4>My Playlists</h4>

    <div class="playlist-list" id="playlist-list-my-playlists">

      {% for playlist in mySubscribedPlaylists|sort(false, true, 'title') %}
        {% if not playlist.isRecommendation %}
          <a class="playlist-list-item" data-id="{{playlist.id}}" href="/playlists/{{playlist.id}}">
            <div class="playlist-list-item-img">
              {% if playlist.mediaRefs[0].podcastImageUrl %}
                <img class="lazy" data-original="{{ playlist.mediaRefs[0].podcastImageUrl }}">
              {% else %}
                <img class="lazy" data-original="/static/images/podverse-logo-180.png">
              {% endif %}
            </div>
            <div class="playlist-list-item-last-pubdate">
              {% if playlist.mediaRefs[0] %}
                {{ playlist.lastUpdated | readableDate }}
              {% endif %}
            </div>
            <div class="playlist-list-item-title">
              {{ playlist.title }}
            </div>
            <div class="playlist-list-item-total-episodes">
              items: {{ playlist.mediaRefs | length}}
            </div>
            <div class="playlist-list-item-subtitle">
              by: {{ playlist.ownerName }}
            </div>
            <div class="clearfix"></div>
          </a>
        {% endif %}
      {% endfor %}
    </div><!-- /#playlist-list-my-playlists -->

  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% endblock %}

{% block scripts %}
  <script src="/static/build/vendors.js"></script>
  <script src="/static/build/my-playlists/index.js"></script>
{% endblock %}
