<div class="modal fade" id="createPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="createPlaylistLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="createPlaylistModalTitle" class="form-control-label">New Playlist</label>
            <input type="text" class="form-control" id="createPlaylistModalTitle" placeholder="title">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="createPlaylistModalAddButton">Add</button>
      </div>
    </div>
  </div>
</div>

<script>
$('#createPlaylistModalAddButton').on('click', function () {
  var newPlaylist = {};
  newPlaylist.title = $('#createPlaylistModalTitle').val();
  createPlaylist(newPlaylist, function (response) {
    addNewPlaylistElement(response);
    $('#createPlaylistModal').modal('hide');
  });
});

$('#createPlaylistModal').on('shown.bs.modal', function () {
  $('#createPlaylistModalTitle').focus();
});

$('#createPlaylistModalTitle').bind('keypress', function (event) {
  if (event.keyCode == 13) {
    event.preventDefault();
    var newPlaylist = {};
    newPlaylist.title = $('#createPlaylistModalTitle').val();

    createPlaylist(newPlaylist, function (response) {
      addNewPlaylistElement(response);
      $('#createPlaylistModal').modal('hide');
    });
  }
});
</script>
