{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-xs-12">
    <!-- NOTE: the home-list reuses the HTML / CSS of the #playlist in the player.html. The designs may diverge someday, but for now CSS changes to these elements will also change the #playlist's items. -->
    <div id="home-list">
      {% for clip in clips %}
        <div class="playlist-item" onclick="window.location.href = '/clips/{{clip.id}}'">
          <div class="playlist-item-inner">
            <div class="playlist-item-image">
              <img src="{{ clip.episode.podcast.imageURL }}">
            </div>
            <div class="playlist-item-text-wrapper">
              <div class="playlist-item-podcast-title">
                {{ clip.episode.podcast.title }}
              </div>
              <div class="playlist-item-sub-title">
                {{ clip.episode.title }}
              </div>
              <div class="playlist-item-time">
                {{ clip.startTime | convertSecToHHMMSS }}
                {% if clip.endTime %}
                  to {{ clip.endTime | convertSecToHHMMSS }}
                {% endif %}
              </div>
            </div>
            {% if clip.description %}
              <div class="playlist-item-details">
                {{ clip.description }}
              </div>
            {% endif %}
          </div><!-- /.playlist-item-inner -->
        </div><!-- /.playlist-item -->
      {% endfor %}
    </div><!-- /#home-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->
{% endblock %}
