<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <title>Podverse</title>

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/typeahead.js-bootstrap4-css/typeaheadjs.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/node_modules/mediaelement/build/mediaelementplayer.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- TODO: This is weird, gotta be a better way. -->
    <script>
      window.isPlayerPage = false;
    </script>

    {% include "meta-tags.html" %}

  </head>
  <body>
    <div id="keep-footer-on-bottom">

      {% include "navbar/index.html" %}

      <div class="container padding-for-footer">
        {% block body %}{% endblock %}
      </div>

      <footer class="footer">
        <div style="max-width: 610px; margin: auto;">
          <div id="footer-links">
            <a href="/">Podverse <sup>FM</sup></a>
            <!-- <a href="/mobile-app">Mobile</a> -->
            <a href="/about">About</a>
            <a href="/faq">FAQ</a>
            <a href="#" data-toggle="modal" data-target="#feedbackModal">Feedback</a>
          </div>
          <div id="footer-license">
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html"><i class="fa fa-copyright fa-flip-horizontal"></i> AGPLv3</a>
          </div>
        </div>
      </footer>

      {% include "feedback-modal.html" %}

    </div>

    <!-- Latest minor release -->
    <script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
    <!-- Latest patch release (recommended for production) -->
    <!-- <script src="http://cdn.auth0.com/js/lock/10.x.y/lock.min.js"></script> -->

    {% block scripts %}
    {% endblock %}

  </body>
</html>
