<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <title>Podverse</title>

    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <!-- TODO: This is weird, gotta be a better way. -->
    <script>
      window.isPlayerPage = false;
    </script>

    {% include "meta-tags.html" %}

    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/typeahead.js-bootstrap4-css/typeaheadjs.css">
    <link rel="stylesheet" href="/static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/node_modules/mediaelement/build/mediaelementplayer.css">
    <link rel="stylesheet" href="/static/css/style.css">

  </head>
  <body>
    <div id="keep-footer-on-bottom">
      <nav class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            &#9776;
          </button>
          <a class="navbar-brand" href="/">Podverse</a>
          <div class="clearfix"></div>
          <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
            <ul class="nav navbar-nav">
              <hr>
              <!-- TODO: add active class to currently selected nav-items -->
              <!-- TODO: add screenreader-only (sr-only) element to currently
              selected nav-items <span class="sr-only">(current)</span> -->
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Mobile App</a>
              </li>
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/about">About</a>
              </li>
              <!-- TODO: add a browsable playlists page
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Playlists</a>
              </li>-->
              <!-- TODO: add a browsable clips page
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Clips</a>
              </li>-->
            </ul><!-- /.nav .navbar-nav -->
          </div><!-- /.collapse .navbar-toggleable-xs -->
        </div><!-- /.navbar-inner -->
      </nav>

      <div class="container padding-for-footer">
        {% block body %}{% endblock %}
      </div>

      <footer class="footer">
        <div style="max-width: 610px; margin: auto;">
          <span class="pull-right">
            <a class="footer-social-icon" href="https://reddit.com/r/podverse"><i class="fa fa-reddit-alien"></i></a>
            <a class="footer-social-icon" href="#"><i class="fa fa-facebook"></i></a>
            <a class="footer-social-icon" href="https://twitter.com/podverse"><i class="fa fa-twitter"></i></a>
            <a class="footer-social-icon" href="https://github.com/podverse"><i class="fa fa-github"></i></a>
          </span>
          <span class="pull-left footer-brand">
            <a href="/">Podverse&#8482;</a>
          </span>
        </div>
      </footer>
    </div>

    <script src="/static/node_modules/tether/dist/js/tether.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/node_modules/mediaelement/build/mediaelement-and-player.min.js"></script>
    <script src="/static/js/mejs_playbackrate_plugin.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/clipper.js"></script>
    <script src="/static/js/addPodcastModal.js"></script>
    <script src="/static/js/clipCreatedModal.js"></script>
    <script src="/static/js/copyToClipboard.js"></script>

    <script>
      // TODO: this is weird, should be a better way...
      if (isPlayerPage === true) {
        setPlayerInfo();
        // Toggle the autoplay to True by default on page load
        // TODO: remove autoplay on mobile devices since they do not support autoplay
        createAutoplayBtn();
        createAndAppendAudio();
        onScrollCondensePlayerView();
        initClipper();
      }
    </script>

  </body>
</html>
