{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-xs-12 bd-content">
    <form id="make-clip-form" autocomplete="off">
      <h5>Make Clip</h5>
      <div class="form-group" id="make-clip-podcast">
        <label for="podcast" class="control-label">Podcast</label>
        <small id="make-clip-podcast-add" class="form-text text-muted pull-right"><a href="" data-toggle="modal" data-target="#addPodcastModal">Add <i class="fa fa-plus"></i></a></small>
        <input class="form-control typeahead" type="text" placeholder="Type podcast title">
      </div>

      <div class="form-group" id="make-clip-episode">
        <label for="episode" class="control-label">Episode</label>
        <input class="form-control typeahead" type="text" placeholder="Type episode title" disabled>
      </div>

      {% include "player.html" %}

      <div class="row" id="make-clip-time">
        <div class="col-xs-4">
          <div class="form-group" id="make-clip-start-time">
            <label for="startTime">Start &nbsp;</label>
            <i class="fa fa-play text-primary"></i>
            <input type="text" class="form-control" placeholder="0:00:00" maxlength="8" disabled>
            <small id="make-clip-start-time-error" class="form-control-feedback"></small>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group" id="make-clip-end-time">
            <label for="endTime">End &nbsp;</label>
            <i class="fa fa-play text-primary"></i>
            <input type="text" class="form-control" placeholder="0:00:00" maxlength="8" disabled>
            <small id="make-clip-end-time-error" class="form-control-feedback"></small>
          </div>
        </div>
        <div class="col-xs-4">
          <div style="position: relative; white-space: nowrap">
            <span id="make-clip-time-set" class="text-primary">
              Set
            </span> &nbsp;
            <span id="make-clip-time-back" class="text-primary">
              <i class="fa fa-angle-left"></i> 15
            </span> &nbsp;
            <span id="make-clip-time-forwards" class="text-primary">
              15 <i class="fa fa-angle-right"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group" id="make-clip-description">
        <label for="clipTitle">Description</label>
        <textarea class="form-control" rows="2" placeholder="What is the clip about?" disabled></textarea>
      </div>

      <button type="submit" class="btn btn-primary pull-right" id="make-clip-btn" onclick="makeClip();">Submit</button>
    </form>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

<div class="modal fade" id="addPodcastModal" tabindex="-1" role="dialog" aria-labelledby="addPodcastLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="addPodcastModalFeedURL" class="form-control-label">Paste the podcast RSS feed URL</label>
            <input type="text" class="form-control" id="addPodcastModalFeedURL" placeholder="https://">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="addPodcastModalAddButton" onclick="addPodcast();">Add</button>
      </div>
    </div>
  </div>
</div>

<script src="/static/node_modules/typeahead.js/dist/typeahead.bundle.min.js"></script>

<script>
$(window).ready(function () {
  initMakeClipPodcastSearch();

  $('#make-clip-start-time i').on('click', function () {
    var startTime = $('#make-clip-start-time input').val() || "0";
    var endTime = $('#make-clip-end-time input').val();
    startTime = convertHHMMSSToSeconds(startTime);
    endTime = convertHHMMSSToSeconds(endTime);
    previewStartTime(startTime, endTime);
  });

  $('#make-clip-end-time i').on('click', function () {
    var endTime = $('#make-clip-end-time input').val() || "3";
    endTime = convertHHMMSSToSeconds(endTime);
    previewEndTime(endTime);
  });

  window.lastFocused = 0;

  $('#make-clip-start-time input').on('focusin', function () {
    lastFocused = 0;
    $('#make-clip-time-set').attr('class', 'text-primary');
  });

  $('#make-clip-start-time input').on('focusout', function () {
    lastFocused = 0;
    $('#make-clip-time-set').attr('class', 'text-muted');
  });

  $('#make-clip-end-time input').on('focusin', function () {
    lastFocused = 1;
    $('#make-clip-time-set').attr('class', 'text-primary');
  });

  $('#make-clip-end-time input').on('focusout', function () {
    lastFocused = 1;
    $('#make-clip-time-set').attr('class', 'text-muted');
  });

  $('#make-clip-time-set').on('click', function () {
    var currentTimeHHMMSS = convertSecToHHMMSS(Math.floor(audio.currentTime));
    if ($('#make-clip-time-set').attr('class') !== 'text-muted') {
      if (lastFocused === 0) {
        $('#make-clip-start-time input').val(currentTimeHHMMSS);
        $('#make-clip-end-time input').focus();
      } else if (lastFocused === 1) {
        $('#make-clip-end-time input').val(currentTimeHHMMSS);
        $('#make-clip-time-set').attr('class', 'text-muted');
        $('#make-clip-description textarea').focus();
      }
    }
  });

  $('#player').on('mousedown', function (e) {
    e.preventDefault();
  });

  $('#make-clip-time-set').on('mousedown', function (e) {
    e.preventDefault();
  });

  $('#make-clip-time-back').on('mousedown', function (e) {
    e.preventDefault();
  });

  $('#make-clip-time-forwards').on('mousedown', function (e) {
    e.preventDefault();
  });

  $('#make-clip-time-back').on('click', function () {
    audio.currentTime = audio.currentTime - 15;
  });

  $('#make-clip-time-forwards').on('click', function () {
    audio.currentTime = audio.currentTime + 15;
  });

});
</script>
{% endblock %}
