{% extends "layout.html" %}

{% block body %}

<div class="row">
  <div class="col-xs-12 bd-content">
    <form id="make-clip-form" autocomplete="off">
      <h5>Make Clip</h5>
      <div class="form-group" id="make-clip-podcast">
        <label for="podcast" class="control-label">Podcast</label>
        <small id="make-clip-podcast-add" class="form-text text-muted pull-right"><a href="" data-toggle="modal" data-target="#addPodcastModal">Add <i class="fa fa-plus"></i></a></small>
        <input class="form-control typeahead" type="text" placeholder="Type podcast title">
      </div>

      <div class="form-group" id="make-clip-episode">
        <label for="episode" class="control-label">Episode</label>
        <input class="form-control typeahead" type="text" placeholder="Type episode title" disabled>
      </div>

      {% include "player.html" %}

      <div class="row" id="make-clip-time">
        <div class="col-xs-4">
          <div class="form-group" id="make-clip-start-time">
            <label for="startTime">Start &nbsp;</label>
            <i class="fa fa-play text-primary"></i>
            <input type="text" class="form-control" placeholder="0:00:00" maxlength="8" disabled>
            <small id="make-clip-start-time-error" class="form-control-feedback"></small>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group" id="make-clip-end-time">
            <label for="endTime">End &nbsp;</label>
            <i class="fa fa-play text-primary"></i>
            <input type="text" class="form-control" placeholder="optional" maxlength="8" disabled>
            <small id="make-clip-end-time-error" class="form-control-feedback"></small>
          </div>
        </div>

        <div class="col-xs-4">
          <label id="make-clip-time-label" for="setTime">
            <div id="make-clip-time-wrap">
              <span id="make-clip-time-back" class="text-primary">
                <i class="fa fa-angle-left"></i> 15s
              </span> &nbsp;
              <span id="make-clip-time-forwards" class="text-primary">
                15s <i class="fa fa-angle-right"></i>
              </span>
            </div>
          </label>
          <div id="make-clip-time-set" class="text-primary"></div>
        </div>

      </div>

      <div class="form-group" id="make-clip-description">
        <label for="clipTitle">Description</label>
        <textarea class="form-control" rows="2" placeholder="What is the clip about? (optional)" disabled></textarea>
      </div>

      <button type="submit" class="btn btn-primary pull-right" id="make-clip-btn" onclick="makeClip();">Submit</button>
    </form>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% include "add-podcast-modal.html" %}

<script src="/static/node_modules/typeahead.js/dist/typeahead.bundle.min.js"></script>

<script>
$(window).ready(function () {
  initMakeClipPodcastSearch();
  initClipper();
  $('#make-clip-form input').on('keypress', function (event) {
    return event.keyCode != 13;
  });
});
</script>
{% endblock %}
