<!-- NOTE: og:url should only be set to podverse.fm in PRODUCTION. (I think)
           If you set it to podverse.fm in testing, then the Facebook Debugger tool
           will not scrape your local server, and will instead scrape podverse.fm. -->

<!-- BEGIN: These tags are the same on every page -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<!-- Facebook Open Graph meta tags -->
<meta property="og:site_name" content="Podverse" />
<meta property="fb:app_id" content="300336890140007" />

<!-- Twitter meta tags -->

<!-- twitter:site:id was found for screenname @podverse on https://tweeterid.com/.
     I have no idea if it is accurate. -->

<meta name="twitter:site" content="@podverse">
<meta name="twitter:site:id" content="2555941009">
<meta name="twitter:creator" content="@podverse">
<meta name="twitter:creator:id" content="2555941009">
<!-- <meta name="twitter:app:name:iphone" content="Name of your iPhone app"> -->
<!-- <meta name="twitter:app:id:iphone" content="Your app ID in the iTunes App Store (Note: NOT your bundle ID)"> -->
<!-- <meta name="twitter:app:url:iphone" content="Your app’s custom URL scheme (you must include ”://” after your scheme name)"> -->
<!-- <meta name="twitter:app:name:ipad" content="Name of your iPad optimized app"> -->
<!-- <meta name="twitter:app:id:ipad" content="Your app ID in the iTunes App Store"> -->
<!-- <meta name="twitter:app:url:ipad" content="Your app’s custom URL scheme"> -->
<!-- <meta name="twitter:app:name:googleplay" content="Name of your Android app"> -->
<!-- <meta name="twitter:app:id:googleplay" content="Your app ID in the Google Play Store"> -->
<!-- <meta name="twitter:app:url:googleplay" content="Your app’s custom URL scheme"> -->

<!-- END: These tags are the same on every page -->

<!-- BEGIN: Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<link rel="manifest" href="/static/images/site.webmanifest">
<link rel="mask-icon" href="/static/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- END: Favicons -->

<!-- BEGIN: These tags can change dynamically on every page -->
{% if currentPage == 'Home Page' %}

<meta name="title" content="Podverse.fm">
<meta name="description" content="Create and share highlights of your favorite podcasts. Free and open source software.">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse.fm" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="" />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse.fm">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">

{% elif currentPage == 'About Page' %}

<meta name="title" content="Podverse - About">
<meta name="description" content="Create and share highlights of your favorite podcasts. Free and open source software.">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse - About" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="Create and share highlights of your favorite podcasts. Free and open source software." />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/about" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'Contact Page' %}

<meta name="title" content="Podverse - Contact">
<meta name="description" content="Create and share highlights of your favorite podcasts. Free and open source software.">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse - Contact" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="Create and share highlights of your favorite podcasts. Free and open source software."
/>

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/contact" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'FAQ Page' %}

<meta name="title" content="Podverse - FAQ">
<meta name="description" content="Create and share highlights of your favorite podcasts. Free and open source software.">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse - FAQ" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="Create and share highlights of your favorite podcasts. Free and open source software." />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/about" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->


{% elif currentPage == 'Terms Page' %}

<meta name="title" content="Podverse - Terms">
<meta name="description" content="Create and share highlights of your favorite podcasts. Free and open source software.">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse - Terms" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="Create and share highlights of your favorite podcasts. Free and open source software." />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/about" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'How-to Page' %}

<meta name="title" content="Podverse - How to share a playlist as an RSS feed">
<meta name="description" content="Create and share highlights of your favorite podcasts. Free and open source software.">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse - How-to" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="Create and share highlights of your favorite podcasts. Free and open source software." />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/about" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'Clip Detail Page' %}

<meta name="title" content="{{ title }}">
<meta name="description" content="Clip from {{ podcastTitle }}{% if episodeTitle %} – {{ episodeTitle }}{% endif %}">

<!--  Facebook Open Graph meta tags -->
<!-- TODO: #5000 if part of an episode title matches exactly to its podcast title,
then remove the matching part from the episode title with a nunjucks thing.
Also: detect if that leaves extraneous syntax, like a -, and remove it?
Check Your Mom's House podcast clip in Facebook Debugger for an example. -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="article" />
<!-- TODO: check if an insecure_url is available. if yes, use it. -->
<meta property="og:image" content="{% if podcastImageUrl %}{{ podcastImageUrl }}{% endif %}" />
<!-- TODO: check if a secure_url is available. if yes, use it. -->
<!-- <meta property="og:image:secure_url" content="" /> -->
<meta property="og:description" content="Clip from {{ podcastTitle }}{% if episodeTitle %} – {{ episodeTitle }}{% endif %}" />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/clips/{{ id }}" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">

<!-- see TODO #5000 -->
<meta name="twitter:description" content="Clip from {{ podcastTitle }}{% if episodeTitle %} – {{ episodeTitle }}{% endif %} – {{ startTime | convertSecToHHMMSS }}{% if endTime %} to {{ endTime | convertSecToHHMMSS }}{% else %} start time{% endif %}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:image" content="{% if podcastImageUrl %}{{ podcastImageUrl }}{% endif %}">
<meta name="twitter:image:alt" content="Podcast image">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'Episode Detail Page' %}

<meta name="title" content="{% if title %}{{ title }}{% else %}{{ podcast.title }}{% if pubDate %} – {{ pubDate | readableDate }}{% endif %}{% endif %}">
<meta name="description" content="{{ podcast.title }}{% if summary %} – {{ summary | stripTags}}{% endif %}">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ podcast.title }}{% if pubDate %} – {{ pubDate | readableDate }}{% endif %}{% endif %}" />
<meta property="og:type" content="article" />
<!-- TODO: check if an insecure_url is available. if yes, use it. -->
<meta property="og:image" content="{% if imageUrl %}{{ imageUrl }}{% else %}{{ podcast.imageUrl }}{% endif %}" />
<!-- TODO: check if a secure_url is available. if yes, use it. -->
<!-- <meta property="og:image:secure_url" content="" /> -->
<meta property="og:description" content="{{ podcast.title }}{% if summary %} – {{ summary | stripTags}}{% endif %}" />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/episodes/{{ id }}" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ podcast.title }}{% if summary %} – {{ summary | stripTags }}{% endif %}">
<meta name="twitter:title" content="{% if title %}{{ title }}{% else %}{{ podcast.title }}{% if pubDate %} – {{ pubDate | readableDate }}{% endif %}{% endif %}">
<meta name="twitter:image" content="{% if imageUrl %}{{ imageUrl }}{% else %}{{ podcast.imageUrl }}{% endif %}">
<meta name="twitter:image:alt" content="{{ podcast.title }} image">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'Mobile App Page' %}

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="Podverse - Mobile App" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:image:secure_url" content="https://podverse.fm/static/images/podverse-logo-1200x630.png" />
<meta property="og:description" content="Create and share highlights of your favorite podcasts. Free and open source software." />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/about" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Create and share highlights of your favorite podcasts. Free and open source software.">
<meta name="twitter:title" content="Podverse">
<meta name="twitter:image" content="https://podverse.fm/static/images/podverse-logo-1200x630.png">
<meta name="twitter:image:alt" content="Podverse logo">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% elif currentPage == 'Playlist Detail Page' %}

<meta name="title" content="{% if isRecommendation %}Playlist for {{ title }}{% else %}{{ title }}{% endif %}">
<meta name="description" content="Playlist shared on podverse.fm{% if ownerName %} – by {{ ownerName }}{% endif %}">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="{% if isRecommendation %}Playlist for {{ title }}{% else %}{{ title }}{% endif %}" />
<meta property="og:type" content="article" />
<!-- TODO: check if an insecure_url is available. if yes, use it. -->
<!-- Don't specify an image, instead let the user pick one from the page -->
<!-- <meta property="og:image" content="{{ imageUrl }}" /> -->
<!-- TODO: check if a secure_url is available. if yes, use it. -->
<!-- <meta property="og:image:secure_url" content="" /> -->
<meta property="og:description" content="Playlist shared on podverse.fm{% if ownerName %} – by {{ ownerName }}{% endif %}" />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/playlists/{{ id }}" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="Playlist shared on podverse.fm{% if ownerName %} – by {{ ownerName }}{% endif %}">
<meta name="twitter:title" content="{{ title }}">
<!-- Don't specify an image, instead let the user pick one from the page -->
<!-- <meta name="twitter:image" content="{{ imageUrl }}"> -->
<!-- <meta name="twitter:image:alt" content="Podcast image"> -->

{% elif currentPage == 'Podcast Detail Page' %}

<meta name="title" content="{{ podcast.title }}">
<meta name="description" content="{{ podcast.summary | stripTags }}">

<!--  Facebook Open Graph meta tags -->
<meta property="og:title" content="{{ podcast.title }}" />
<meta property="og:type" content="article" />
<!-- TODO: check if an insecure_url is available. if yes, use it. -->
<meta property="og:image" content="{{ podcast.imageUrl }}" />
<!-- TODO: check if a secure_url is available. if yes, use it. -->
<!-- <meta property="og:image:secure_url" content="" /> -->
<meta property="og:description" content="{{ podcast.summary | stripTags }}" />

<!-- PRODUCTION ONLY - can break localhost testing with FB debugger tool -->
<meta property="og:url" content="https://podverse.fm/podcasts/{{ podcast.id }}" />

<!-- Twitter meta tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="{{ podcast.summary | stripTags }}">
<meta name="twitter:title" content="{{ podcast.title }}">
<meta name="twitter:image" content="{{ podcast.imageUrl }}">
<meta name="twitter:image:alt" content="Podcast image">
<!-- <meta name="twitter:player" content="HTTPS URL of player iframe"> -->
<!-- <meta name="twitter:player:width" content="Width of iframe in pixels"> -->
<!-- <meta name="twitter:player:height" content="Height of iframe in pixels"> -->
<!-- <meta name="twitter:player:stream" content="URL to raw video or audio stream"> -->

{% endif %}

<!-- END: These tags change dynamically on different pages -->
