{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>Mobile App</h1>
    <p>Podverse lets you create clips and playlists of your favorite podcasts and share them anywhere online.</p>
    <p><strong>iOS:</strong> The iOS app is currently only available for a limited number of beta testers :|</p>
    <p><strong>Android:</strong> Sorry folks! We don't support Android yet :(</p>
    <p><strong>Everyone:</strong> <strike>Create clips and playlists on podverse.fm by clicking the Add button :)</strike></p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}
