{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <h4>My Playlists</h4>
    <div class="header-button" data-toggle="modal" data-target="#subscribeToPlaylistModal">Add</div>

    <div class="playlist-list">
      {% for playlist in playlists %}
        <div class="playlist-list-item" data-id="{{playlist.id}}">
          <a class="playlist-list-item-img" href="/playlists/{{playlist.id}}">
            <img src="{{playlist.previewImageURL}}">
          </a>
          <a class="playlist-list-item-title" href="/playlists/{{playlist.id}}">
            {{playlist.title}}
          </a>
          <a class="playlist-list-item-total-episodes" href="/playlists/{{playlist.id}}">
            total episodes / total clips
          </a>
          <a class="playlist-list-item-last-pubdate" href="/playlists/{{playlist.id}}">
            {{playlist.lastUpdated | readableDate}}
          </a>
          <div class="clearfix"></div>
        </div>
      {% endfor %}
    </div><!-- /#my-playlist-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% include "subscribe-to-playlist-modal.html" %}

{% endblock %}
