<div class="modal fade" id="navbarSearchModal" tabindex="-1" role="dialog" aria-labelledby="navbarSearchLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="navbarSearchModalInput" class="form-control-label">Podcast search</label>
            <input class="form-control typeahead" id="navbarSearchModalInput" type="text" placeholder="type name of podcast">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
