<script>
  window.isPlayerPage = true;

  // If a mediaRefs object exists, then set window variables for the playlist page
  {% if mediaRefs|isPlaylist %}
    window.mediaRefs = {{ mediaRefs|stringify|safe }};

    var item;

    // The hash value determines which playlist item to load
    window.urlHashIndexValue = window.location.hash.substr(1) - 1;
    if (urlHashIndexValue > 0) {
      item = mediaRefs[urlHashIndexValue];
    } else {
      item = mediaRefs[0];
    }

    // Parse the selected playlist item and set its window variables
    window.startTime = item.startTime;
    window.endTime = item.endTime;
    window.ownerName = item.ownerName;
    window.duration = item.duration;
    window.podcastTitle = item.episode.podcast.title;
    window.podcastImageURL = item.episode.podcast.imageURL;
    window.episodeTitle = item.episode.title;
    window.episodeMediaURL = item.episode.mediaURL;
    window.episodePubDate = item.episode.pubDate;

    // if item is an Episode
    if (window.startTime === 0 && window.endTime !== null) {
      window.isEpisode = true;
      window.clipTitle = "";
      window.startTime = "0";
      window.endTime = item.duration;
    } else {
      window.isEpisode = false;
      window.clipTitle = item.title;
    }

    // TODO: is this a security vulnerability?
    window.description = "{{ description|nl2br }}";
    window.description = $('<textarea />').html(description).text();

  // If there's an episode property, then set the window vars for the clip page.
  {% elif episode %}
    window.podcastId = "{{ episode.podcast.id }}";
    window.podcastTitle = "{{ episode.podcast.title }}";
    window.podcastImageURL = "{{ episode.podcast.imageURL }}";
    window.episodeId = "{{ episode.id }}";
    window.episodeTitle = "{{ episode.title }}";
    window.episodeMediaURL = "{{ episode.mediaURL }}";
    window.episodePubDate = "{{ episode.pubDate }}";
    window.startTime = "{{ startTime }}";
    window.endTime = "{{ endTime }}";
    window.isEpisode = false;

    // TODO: is this a security vulnerability?
    window.description = "{{ description|nl2br }}";
    window.description = $('<textarea />').html(description).text();
  {% endif %}

</script>
