<div id="player-header">
  <div id="player-image">
    <a href="#">
      <img><!-- insert content in libs/js/scripts.js -->
    </a>
  </div>
  <div id="player-text-container">
    <div id="player-condensed-title">
      <a href="#">
        <!-- insert content in libs/js/scripts.js -->
      </a>
    </div>
    <div id="player-condensed-sub-title">
      <a href="#">
        <!-- insert content in libs/js/scripts.js -->
      </a>
    </div>
    <div id="player-podcast-title">
      <a href="#">
        <!-- insert content in libs/js/scripts.js -->
      </a>
    </div>
    <div id="player-sub-title">
      <!-- insert content in libs/js/scripts.js -->
    </div>
  </div>
  <div style="clear:both"></div>
</div>
