
<div id="add-to-playlist">
  <div id="add-to-playlist-header" class="player-function-header">
    Add to Playlist
  </div>
  <a id="add-to-playlist-new-playlist" class="player-function-header-btn text-primary"
     data-toggle="modal" data-target="#createPlaylistModal">
    New Playlist
  </a>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12">
      {% for playlist in usersOwnedPlaylists %}
        {% if not playlist.isRecommendation %}
          <div class="add-to-playlist-item" data-id="{{ playlist.id }}">
            <div class="add-to-playlist-item-count">
              items: {{ playlist.mediaRefs|length }}
            </div>
            <div class="add-to-playlist-item-title">
              {{ playlist.title }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include "create-playlist-modal.html" %}
