{% extends "layout.html" %}

{% block body %}

{% include "player-scripts.html" %}

{% include "player.html" %}

{% include "player-functions.html" %}

{% include "player-make-clip.html" %}

{% include "player-add-to-playlist.html" %}

{% include "player-recommend.html" %}

{% include "player-stats.html" %}

{% include "player-description.html" %}

{% include "player-list.html" %}

{% include "clip-created-modal.html" %}

<script>
$('.add-to-playlist-item').on('click', function () {
  var playlistId = $(this).data('id');
  var mediaRefId = $('#player').data('id');
  addToPlaylist(playlistId, mediaRefId);
});
</script>

{% endblock %}
