<script>
  window.isPlayerPage = true;
  window.isEmptyPlaylist = false;

  // If a mediaRefs object exists, then set window variables for the playlist page
  {% if mediaRefs|isPlaylist %}

    {% if mediaRefs|length %}

      window.mediaRefs = {{ mediaRefs|stringify|safe }};

      var item;

      // The hash value determines which playlist item to load
      window.urlHashIndexValue = window.location.hash.substr(1) - 1;
      if (urlHashIndexValue > 0) {
        item = mediaRefs[urlHashIndexValue];
      } else {
        item = mediaRefs[0];
      }

      // Parse the selected playlist item and set its window variables
      window.startTime = item.startTime;
      window.endTime = item.endTime;
      window.ownerName = item.ownerName;
      window.episodeDuration = item.episode.duration;
      window.podcastId = item.episode.podcast.id;
      window.podcastTitle = item.episode.podcast.title;
      window.podcastImageURL = item.episode.podcast.imageURL;
      window.episodeTitle = item.episode.title;
      window.episodeMediaURL = item.episode.mediaURL;
      window.episodeImageURL = item.episode.imageURL;
      window.episodePubDate = item.episode.pubDate;

      // if item is an Episode
      if (window.startTime === 0 && window.endTime === null) {
        window.isEpisode = true;
        window.description = item.episode.summary;
      } else {
        window.isEpisode = false;
        window.description = item.description;
      }

      window.isSubscribed = item.isSubscribed;

      // TODO: is this a security vulnerability?
      window.description = $('<textarea />').html(description).text();
    {% else %}
      window.isEmptyPlaylist = true;
      window.isEpisode = false;
    {% endif %}

  // If there's an episode property, then set the window vars for the clip page.
  {% elif episode %}
    window.podcastId = "{{ episode.podcast.id }}";
    window.podcastTitle = "{{ episode.podcast.title }}";
    window.podcastImageURL = "{{ episode.podcast.imageURL }}";
    window.episodeId = "{{ episode.id }}";
    window.episodeTitle = "{{ episode.title }}";
    window.episodeMediaURL = "{{ episode.mediaURL }}";
    window.episodePubDate = "{{ episode.pubDate }}";
    window.episodeImageURL = "{{ episode.imageURL }}";
    window.startTime = "{{ startTime }}";
    window.endTime = "{{ endTime }}";
    window.isEpisode = false;

    // TODO: is this a security vulnerability?
    window.description = "{{ description|nl2br }}";
    window.description = $('<textarea />').html(description).text();

    window.isSubscribed = '{{ isSubscribed }}';

  // If there's a podcast property, then set the window vars for the episode page.
  {% elif podcast %}
    window.podcastId = "{{ podcast.id }}";
    window.podcastTitle = "{{ podcast.title }}";
    window.podcastImageURL = "{{ podcast.imageURL }}";
    window.episodeId = "{{ id }}";
    window.episodeTitle = "{{ title }}";
    window.episodeMediaURL = "{{ mediaURL }}";
    window.episodePubDate = "{{ pubDate }}";
    window.episodeImageURL = "{{ imageURL }}";
    window.startTime = 0;
    window.endTime = null;
    window.isEpisode = true;

    // TODO: is this a security vulnerability?
    window.description = "{{ summary|nl2br }}";
    window.description = $('<textarea />').html(description).text();

    window.isSubscribed = '{{ isSubscribed }}';
  {% endif %}

</script>
