<script>
  window.urlHashIndexValue = window.location.hash.substr(1) - 1;

  // TODO: I think playing playlist items in the template would work if we can
  // use the playlistItems object in the scripts.js file

  {% if mediaRefs|isPlaylist %} // if a mediaRefs object exists, then parse as a playlist page
    window.mediaRefs = {{ mediaRefs|stringify|safe }};

    var item;
    if (urlHashIndexValue > 0) {
      item = mediaRefs[urlHashIndexValue];
    } else {
      item = mediaRefs[0];
    }

    // Only clips have a startTime and endTime
    window.startTime = item.startTime;
    window.endTime = item.endTime;
    window.ownerName = item.ownerName;
    window.duration = item.duration;
    window.podcastTitle = item.episode.podcast.title;
    window.podcastImageURL = item.episode.podcast.imageURL;
    window.episodeTitle = item.episode.title;
    window.episodeMediaURL = item.episode.mediaURL;
    window.episodePubDate = item.episode.pubDate;

    if (window.startTime === 0 && window.endTime !== null) {
      window.isClip = false;
      window.clipTitle = "";
      window.startTime = "0";
      window.endTime = item.duration;
    } else {
      window.isClip = true;
      window.clipTitle = item.title;
    }

  // Maybe this line should instead be {% elif clipUrl %}?
  {% elif episode %} // Is a clip (if obj has an episode propety, then it's a clip)
    window.podcastTitle = "{{ episode.podcast.title }}";
    window.podcastImageURL = "{{ episode.podcast.imageURL }}";
    window.episodeTitle = "{{ episode.title }}";
    window.episodeMediaURL = "{{ episode.mediaURL }}";
    window.episodePubDate = "{{ episode.pubDate }}";
    window.clipTitle = "{{ title }}";
    window.startTime = "{{ startTime }}";
    window.endTime = "{{ endTime }}";
    window.duration = "{{ duration }}"
    window.isClip = true;
  {% endif %}

</script>
