
<div id="make-clip">
  <div id="make-clip-header">Create a Clip</div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="form-group" id="make-clip-start-time">
        <label for="startTime">Start &nbsp;</label>
          <i class="fa fa-play text-primary"></i>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="0:00:00" maxlength="8">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" onclick="setStartTime();">Set</button>
            </span>
          </div>
          <small id="make-clip-start-time-error" class="form-control-feedback"></small>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-group" id="make-clip-end-time">
        <label for="endTime">End &nbsp;</label>
        <i class="fa fa-play text-primary"></i>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="0:00:00" maxlength="8">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" onclick="setEndTime();">Set</button>
          </span>
        </div>
        <small id="make-clip-end-time-error" class="form-control-feedback"></small>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group" id="make-clip-description">
        <label for="clipTitle">Description</label>
        <textarea class="form-control" rows="2" placeholder="What is the clip about? (optional)"></textarea>
      </div>
      <button type="submit" class="btn btn-primary pull-right" id="make-clip-btn" onclick="makeClip();">Save</button>
      <button type="cancel" class="btn btn-secondary pull-right" id="make-clip-cancel" onclick="toggleMakeClipWidget();">Close</button>
    </div>

  </div>
</div>
