<div id="podcast-header">
  <div id="podcast-header-inner">
    <div id="podcast-image">
      <img src="{{ imageURL }}">
    </div>
    <div id="podcast-text-container">
      {% if isSubscribed %}
        <div id="podcast-subscribe" title="Unsubscribe from podcast">
          <i class="fa fa-star"></i>
        </div>
      {% else %}
        <div id="podcast-subscribe" title="Subscribe to podcast">
          <i class="fa fa-star-o"></i>
        </div>
      {% endif %}
      <div id="podcast-title">
        {{ title }}
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>

<script>
window.podcastId = '{{ id }}';

$('#podcast-subscribe').on('click', function () {
  if (!isNonAnonLoggedInUser()) {
    alert('Login to subscribe to this podcast :D');
    return;
  }

  if ($(this).children().hasClass('fa-star-o')) {
    $('#podcast-subscribe').html('<i class="fa fa-star"></i>');
    $('#podcast-subscribe').attr('title', 'Unsubscribe from podcast');
    subscribeToPodcast(podcastId);
  } else {
    $('#podcast-subscribe').html('<i class="fa fa-star-o"></i>');
    $('#podcast-subscribe').attr('title', 'Subscribe to podcast');
    unsubscribeFromPodcast(podcastId);
  }
});
</script>
