{% extends "layout.html" %}

{% block body %}
<div id="settings">
  <h4>Settings</h4>
  <div class="clearfix"></div>
  <form>
    <div class="form-group">
      <label for="your-name">Name</label>
      <input type="text" class="form-control" id="settings-name" placeholder="your name">
      <small class="form-text text-muted">Visible to anyone who receives your playlist.</small>
    </div>
    <button type="button" class="btn btn-primary pull-right" onclick="updateUserProfile();">Submit</button>
    <button type="button" class="btn pull-right" onclick="window.history.back();">Cancel</button>
  </form>
</div>

<script>
$('#settings-name').val('{{ name }}');

function updateUserProfile () {
  $.ajax({
    type: 'PATCH',
    url: '/users/{{ id }}',
    headers: {
      Authorization: $.cookie('idToken')
    },
    data: {
      name: $('#settings-name').val()
    },
    dataType: 'json',
    success: function () {
      location.href = '/';
    },
    error: function (xhr, status, error) {
      // TODO: add more helpful error messaging
      console.log(xhr);
      console.log(status);
      console.log(error);
      alert('errrror');
    }
  });
}
</script>

{% endblock %}
