<div class="modal fade" id="subscribeToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="subscribeToPlaylistLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="subscribeToPlaylistModalURL" class="form-control-label">Add playlist by URL</label>
            <input type="text" class="form-control" id="subscribeToPlaylistModalURL" placeholder="https://">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="subscribeToPlaylistModalAddButton" onclick="subscribeToPlaylistModal();">Add</button>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/subscribeToPlaylistModal.js"></script>
