.belowButtonsWrapper {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-2xl);
  flex: 1;
}

.tabsWrapper {
  flex: 1;
}

.sideButtonsWrapper {
  display: flex;
  gap: var(--spacing-lg);
}
