.playlist-page-header {
  align-items: center;
  display: flex;
  // margin-bottom: 30px;
  min-height: 161px;
  padding: 16px 0;

  @include themeGen() {
    background-image: linear-gradient(
      to right,
      getThemeVal('headerGradientLight') -3%,
      getThemeVal('headerGradientDark')
    );
  }

  .main-max-width {
    align-items: center;
    display: flex;
    flex: 1;

    .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 16px;

      .items-count {
        font-size: $text-lg;
        margin-top: 4px;
      }

      .owner-name {
        font-size: $text-lg;
        margin-top: 4px;
      }
    }

    button {
      margin-left: auto;
    }
  }
}
