@include headerGradientStyle('.playlist-page-header');

.playlist-page-header {
  align-items: center;
  border-radius: 0;
  display: flex;
  padding: 16px 0;

  .main-max-width {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;

    .text-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding-right: 16px;

      .items-count {
        font-size: $text-lg;
        margin-top: 4px;

        @include themeGen() {
          color: getThemeVal('textSecondary');
        }
      }

      .owner-name {
        font-size: $text-lg;
        margin-top: 4px;

        @include themeGen() {
          color: getThemeVal('textSecondary');
        }
      }

      .text-input {
        max-width: 500px;
      }
    }

    .buttons {
      align-items: flex-end;
      align-self: stretch;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
      margin-left: auto;

      .top-row {
        display: flex;
      }
      
      .bottom-row {
        display: flex;
        margin-top: 16px;
      }

      button {
        margin-left: 8px;
      }
    }
  }
}

@media (max-width: $media-max-width-tablet-xl) {
  .playlist-page-header {
    .pv-image {
      height: $img-large !important;
      margin-right: 16px;
      width: $img-large !important;
    }

    h1 {
      font-size: $text-xxxl;
      font-weight: $font-weight-light;
    }

    .items-count {
      font-size: $text-sm;
      line-height: 18px;
    }

    button {
      margin-left: 8px;
    }
  }
}
