.list {
  position: relative;

  hr {
    margin-bottom: 20px;
  }

  &.no-results-found {
    display: flex;
    flex: 1;
    flex-direction: column;


    .no-results-found-message {
      margin: 24px 0;
      @include themeGen() {
        color: getThemeVal('textSecondary');
      }
    }
  }
}
