.media-item-controls {
  align-items: center;
  display: flex;
  flex-direction: row;

  .time-wrapper {
    margin: 0 16px 0 14px;

    .pub-date, .time-spacer, .time-info {
      font-weight: $font-weight-bold;

      @include themeGen() {
        color: getThemeVal('textTertiary');
      }
    }

    .completed {
      margin: 0 0 0 12px;
      @include themeGen() {
        color: getThemeVal('textSuccess');
      }
    }
  }
}
