.media-item-controls {
  align-items: center;
  display: flex;
  flex-direction: row;

  .time-wrapper {
    flex: 1;
    margin: 0 14px;

    .pub-date, .time-spacer, .time-info {
      font-weight: $font-weight-bold;

      @include themeGen() {
        color: getThemeVal('textTertiary');
      }
    }
  }
}
