.comparison-table-wrapper {
  max-width: 540px;

  @include themeGen() {
    color: getThemeVal('textSecondary');
  }

  .above-section {
    margin-bottom: 32px;
    text-align: center;
  }

  .comparison-table { 
    .comparison-table__header {
      border-style: solid;
      border-width: 1px;
      display: flex;
      flex-direction: row;
      font-weight: 500;
  
      .comparison-table-header__text {
        flex: 1;
        padding: 8px 12px;
      }
  
      .comparison-table-header__icon {
        border-left-style: solid;
        border-left-width: 1px;
        flex: 0 0 92px;
        padding: 8px 12px;
        text-align: center;
      }
    }
  
    .comparison-table__row {
      border-top: 0;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-style: solid;
      display: flex;
      flex-direction: row;
  
      .comparison-table-row__text {
        flex: 1;
        font-weight: 300;
        padding: 8px 12px;
      }
  
      .comparison-table-row__icon {
        border-left-style: solid;
        border-left-width: 1px;
        flex: 0 0 92px;
        padding: 8px 12px;
        text-align: center;
      }
    }
  }
  
  .comparison-table, .comparison-table__header, .comparison-table__row, .comparison-table-header__icon,
  .comparison-table-row__icon {
    @include themeGen() {
      border-color: getThemeVal('divider');
    }
  }
}
