.dropdown {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-primary-secondary);
  border-radius: var(--border-radius-round);
  height: var(--list-item-button-size);
  width: var(--list-item-button-size);
}
