@use "breakpoints";
@use '../../../mixins/flexbox' as *;
@use '../../../mixins/media-queries' as *;

.playerDesktop {
  flex: 1;
  position: relative;
}

.bottomSection {
  @include flexCenter;
  padding: var(--spacing-base) var(--spacing-xl);
  flex: 1;
  height: var(--media-player-height);
  box-sizing: border-box;
}

@include mobile(md-max) {
  .playerDesktop {
    display: none;
  }
}
