@include headerGradientStyle('.podcast-page-header');

.podcast-page-header {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  &.hide-above-tablet-min-width {
    margin: -4px -16px 0 -16px;
  }

  .top-wrapper {
    align-items: center;
    display: flex;
    flex: 1;

    .pv-image {
      border-radius: $item-border-radius;
      margin-right: 24px;
    }

    .text-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      padding-right: 16px;

      .podcast-title {
        font-size: $text-huge;
        font-weight: $font-weight-light;
      }

      .sub-labels {
        align-self: flex-start;
        font-size: $text-lg;
        margin-top: 4px;
      }

      .header-sub-buttons {
        margin: 14px 0 0 0;

        a,
        button {
          margin: 0 18px 0 0;
        }
      }
    }
  }

  .bottom-wrapper {
    margin-top: 16px;
  }

  .mobile-header-sub-buttons {
    margin: 12px 0 0 0;

    a,
    button {
      margin: 0 20px 0 0;
    }
  }
}

@media (max-width: $media-max-width-tablet-xl) {
  .podcast-page-header {
    .top-wrapper {
      .pv-image {
        height: $img-large !important;
        margin-right: 16px;
        width: $img-large !important;
      }

      .text-wrapper {
        .podcast-title {
          font-size: $text-xxxl;
          font-weight: $font-weight-light;
        }
      }
    }

    .bottom-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &.hide-above-laptop-min-width {
        margin-top: 14px;
      }

      .sub-labels {
        align-self: center;
        font-size: $text-md;
        line-height: 18px;
      }

      button {
        margin-left: 8px;
      }
    }

    .mobile-header-sub-buttons {
      margin: 10px 0 0 0;
    }
  }
}

@media (max-width: $media-max-width-tablet) {
  .podcast-page-header {
    .mobile-header-sub-buttons {
      margin: 6px 0 0 0;
    }
  }
}

@media (hover: hover) {
  .podcast-page-header {
    [href] {
      &:hover {
        @include themeGen() {
          color: getThemeVal('textSecondary');
        }
      }
    }
  }
}
