.no-margin-top {
  .search-bar-filter {
    margin-top: 0;
  }
}

.search-bar-filter {
  display: flex;
  flex: 0;

  &.bottom-padding {
    padding-bottom: 16px;
  }

  .text-input {
    flex: 1;
    padding: 0;

    .text-input-outer-wrapper {
      border-bottom: 1px solid;
      border-radius: 0 !important;

      @include themeGen() {
        background-color: getThemeVal('backgroundTertiary') !important;
        border-bottom-color: getThemeVal('textHover');
      }

      .icon-wrapper {
        font-size: $text-xxl !important;
        @include themeGen() {
          color: getThemeVal('textHover');
        }
      }

      input {
        font-size: $text-xxl !important;
        font-weight: $font-weight-light;
        height: 44px !important;

        @include themeGen() {
          color: getThemeVal('textPrimary');
          @include placeholderColor(getThemeVal('textHover'));
        }
      }
    }
  }

  &.smaller {
    .text-input {
      .text-input-outer-wrapper {
        padding: 8px 16px;
        
        .icon-wrapper {
          font-size: $text-xl !important;
        }

        .text-input-inner-wrapper {
          height: 34px !important;

          input {
            font-size: $text-xl !important;
            height: 34px !important;
          }
        }

        .clear {
          height: 34px !important;
          line-height: 34px !important;
          width: 34px !important;

          svg {
            width: 16px !important;
          }
        }
      }
    }
  }
}

@media (max-width: $media-max-width-mobile) {
  .search-bar-filter {
    .text-input {
      .text-input-outer-wrapper {
        padding: 10px 12px;

        .icon-wrapper {
          font-size: $text-lg !important;
          margin-right: 12px;
        }
        input {
          font-size: $text-lg !important;
        }
        .end-button {
          display: none;

          &.show {
            display: block;
          }
        }
      }
    }
  }
}
