.switch-with-icons-wrapper {
  align-items: center;
  display: flex;

  .beginning {
    margin-right: 10px;
  }

  .ending {
    margin-left: 10px;
  }
}

.switch {
  display: flex;
}

.is-on {
  .react-switch-bg {
    @include themeGen() {
      background-color: getThemeVal('switchBackgroundOn') !important;
    }
  }
}

.is-off {
  .react-switch-bg {
    @include themeGen() {
      background-color: getThemeVal('switchBackgroundOff') !important;
    }
  }
}
