.button-rectangle {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;

  &.primary {
    border-radius: $button-rectangle-radius;
    font-weight: $font-weight-bold;
    height: 44px;
    min-width: 158px;
    padding: 0 16px;

    @include themeGen() {
      color: getThemeVal('buttonPrimaryText');
      background-color: getThemeVal('buttonPrimaryBackground');
    }

    &.danger {
      @include themeGen() {
        background-color: getThemeVal('buttonPrimaryDangerBackground');
        color: getThemeVal('buttonPrimaryDangerTextColor');
      }
    }

    &.success {
      @include themeGen() {
        background-color: getThemeVal('buttonPrimarySuccessBackground');
        color: getThemeVal('buttonPrimarySuccessTextColor');
      }
    }

    &:disabled {
      @include themeGen() {
        background-color: getThemeVal('buttonDisabledBackground') !important;
        color: getThemeVal('buttonDisabledText') !important;
        cursor: not-allowed;
      }
    }

    &.loading .button__text {
      display: none;
    }
  }

  &.secondary {
    border-radius: $button-rectangle-radius;
    font-weight: $font-weight-bold;
    height: 44px;
    min-width: 158px;
    padding: 0 16px;

    @include themeGen() {
      background-color: getThemeVal('buttonSecondaryBackground') !important;
    }

    &.loading .button__text {
      display: none;
    }
  }

  &.tertiary {
    border-radius: $button-circle-radius;
    border-style: solid;
    border-width: $border-width-default;
    font-size: $text-sm;
    font-weight: $font-weight-bold;
    height: 32px;
    line-height: 30px;
    padding: 0 20px;

    @include themeGen() {
      background-color: getThemeVal('buttonTertiaryBackground') !important;
      border-color: getThemeVal('buttonTertiaryBorder') !important;
    }

    &.danger {
      @include themeGen() {
        background-color: getThemeVal('buttonTertiaryDangerBackground') !important;
        border-color: getThemeVal('buttonTertiaryDangerBorder') !important;
      }
    }

    .icon {
      position: absolute;
      top: 3px;
    }

    &.loading .button__text {
      visibility: hidden;
    }
  }

  .icon svg {
    height: unset;
    width: 22px;
  }
}

@media (hover: hover) {
  .button-rectangle {
    &.primary {
      &:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonPrimaryRolloverBackground') !important;
        }
      }

      &.danger:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonPrimaryDangerRolloverBackground') !important;
        }
      }

      &.success:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonPrimarySuccessRolloverBackground') !important;
        }
      }

      &:disabled:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonDisabledBackground') !important;
        }
      }
    }

    &.secondary {
      &:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonSecondaryRolloverBackground') !important;
        }
      }
    }

    &.tertiary {
      &:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonTertiaryRolloverBackground') !important;
          color: getThemeVal('buttonCloseBackground') !important;
        }
      }

      &.danger:hover {
        @include themeGen() {
          background-color: getThemeVal('buttonTertiaryDangerRolloverBackground') !important;
          color: getThemeVal('buttonTertiaryDangerTextRollover') !important;
        }
      }
    }
  }
}
