.button-link {
  border-radius: $button-circle-radius;
  padding: 4px 8px;

  @include themeGen() {
    color: getThemeVal('buttonLinkText') !important;
  }
}

@media (hover: hover) {
  .button-link {
    &:hover {
      @include themeGen() {
        color: getThemeVal('buttonLinkTextRollover') !important;
      }
    }
  }
}