.listWrapper {
  margin: 0.5rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.listTracks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex: 1;
}
