@use '../../../mixins/lineClamp' as *;

.link {
  text-decoration: none !important;
  color: inherit;
  display: block;
}

.listItem {
  display: flex;
  align-items: center;
  padding: var(--spacing-card-padding);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    background: var(--background-color-opaque);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
  color: var(--text-color-primary);
  text-align: left;
}

.subtitleWrapper {
  @include line-clamp(1);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--text-color-primary);
  margin-top: var(--spacing-sm);
}

.creator {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-link);
  margin-top: var(--spacing-sm);
}
