.listWrapper {
  margin: var(--spacing-md) var(--spacing-none);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.listTracks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.row {
  display: flex;
  flex: 1;
}
