@use '../../../mixins/lineClamp' as *;

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: var(--media-player-height-top-section-negative);
  height: var(--media-player-height-top-section);
  background-color: var(--background-color-special);
  font-weight: var(--font-weight-light);
  padding: 0 var(--spacing-lg);
}

.marqueeText {
  @include line-clamp(1);
  padding: 0 var(--spacing-lg);
}

.prevChapter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.prevChapterButton {
  display: flex;
}

.nextChapter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.nextChapterButton {
  display: flex;
}
