.volumeSliderWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  max-width: 120px;
  width: 100%;
}

.customVolumeBar {
  flex: 1;
  height: 0.625rem;
  background: transparent;
  border-radius: var(--border-radius-round);
  margin: 0 var(--spacing-xs);
  display: flex;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.volumeLevel {
  background: var(--progress-bar-before);
  height: 100%;
  border-radius: 2rem 0 0 2rem;
}

.volumeRemaining {
  background: var(--progress-bar-after);
  height: 100%;
  border-radius: 0 2rem 2rem 0;
}
