html {
  font-family: 'Source Sans Pro', sans-serif;
}

.max-width {
  margin: auto;
  max-width: $body-max-width;
}

@media (max-width: ($body-max-width + 2rem)) {
  .max-width {
    margin: auto 1rem;
  }
}