html {
  font-family: 'Roboto', sans-serif;
}

html[is-switching-ui-mode=true] * {
  transition: none !important;

  .react-switch-bg {
    transition: background 0.25s ease 0s !important;
  }

  .react-switch-handle {
    transition: background-color 0.25s ease 0s, transform 0.25s ease 0s, box-shadow 0.15s ease 0s !important;
  }
}

.max-width {
  margin: 0 auto;
  max-width: $body-max-width;
  width: 100%;
}

@media (max-width: ($body-max-width + 32px)) {
  .max-width {
    padding: 0 1rem;
  }
}

.full-centered-content-view {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  h1, p {
    flex: 0;
  }

  p:last-child {
    margin: 0
  }

  .error-icon {
    font-size: 32px;
    margin-bottom: 1rem;
  }
}

.flip-horizontal {
  @include flipHorizontal
}

.flip-text-horizontal {
  display: inline-block;
  filter: FlipH; 
  text-align: right;
  transform: scaleX(-1); 
  -moz-transform: scaleX(-1);
  -ms-filter: “FlipH”;
  -o-transform: scaleX(-1); 
  -webkit-transform: scaleX(-1); 
}

.no-results-msg {
  margin: 1.5rem 0;
  text-align: center;
}

.request-podcast {
  display: block;
  font-size: $text-sm-rem;
  margin-top: 2rem;
  text-align: center;
}

.download-on-the-app-store {
  background: url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-07-28&kind=iossoftware&bubble=ios_apps) no-repeat;
  display: inline-block;
  height: 40px;
  margin: 8px 0;
  overflow: hidden;
  width: 135px;
}

.get-it-on-google-play {
  display: inline-block;
  margin: 8px 0 8px 20px;
  position: relative;

  img {
    left: -8px;
    position: absolute;
    top: -9px;
    width: 152px;
  }
}

.flex-row {
  display: flex;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.alert {
  margin-bottom: 1.25rem;
}

.pv-pagination {
  margin-top: 2.5rem;
}

.font-bold {
  font-weight: 400;
}

.font-bolder {
  font-weight: 500;
}

.font-italic {
  font-style: italic;
}

html[data-theme=light] {
  .no-results-msg {
    color: $gray-darker;
  }

  .page-loading-overlay {
    color: $gray;
  }

  .form-control {
    border-color: $gray-dark;
  }
}

html[data-theme=dark] {
  .no-results-msg {
    color: $gray-lighter;
  }

  .page-loading-overlay {
    color: $gray-dark;
  }

  .form-control {
    border-color: $gray-light;
  }
}
