.about {
  label {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }

  ul {
    list-style: inside;
    margin-bottom: 1rem;
  }

  .download-on-the-app-store {
    background: url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-07-28&kind=iossoftware&bubble=ios_apps) no-repeat;
    flex: 0 0 auto;
    height: 40px;
    margin: 8px 0;
    overflow: hidden;
    width: 135px;
  }

  .get-it-on-google-play {
    flex: 0 0 auto;
    margin: 8px 22px 8px 22px;
    position: relative;
    width: 135px;

    img {
      left: -8px;
      position: absolute;
      top: -9px;
      width: 152px;
    }
  }

  .get-it-on-fdroid {
    background-image: url('/images/get-it-on-fdroid.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 0 0 auto;
    height: 40px;
    margin: 8px 0;
    overflow: hidden;
    width: 135px;
  }
}
