.waiting-for-payment {
  justify-content: center;
  text-align: center;
  z-index: 2147483647;
  
  p {
    margin: 1rem 0;
  }
  
  svg {
    font-size: $text-3x-rem;
  }
}

[data-theme=light] {
  .waiting-for-payment {
    svg {
      color: $gray-light;
    }
  }
}

[data-theme=dark] {
  .waiting-for-payment {
    svg {
      color: $gray-dark;
    }
  }
}
