.settings {
  ul {
    padding-left: 1.25rem;

    li {
      list-style-type: disc;
      margin-bottom: 0.25rem;
    }
  }

  .settings-profile__btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

    .settings-profile-btns__save {
      flex: 0 0 auto;
      margin-left: 1rem;
      min-width: 80px;
    }

    .settings-profile-btns__cancel {
      flex: 0 0 auto;
      min-width: 80px;
    }
  }

  .settings__download {
    min-width: 170px;
  }

  .settings-membership__status {
    font-size: $text-md-lg-rem;
    font-weight: 500;

    &.is-active {
      color: $blue;
    }

    &.is-expired {
      color: $yellow;
    }
  }

  .settings-membership__checkout {
    flex: 0 0 auto;
    margin-top: 0.5rem;
  }
  
  .settings-membership__free-trial {
    flex: 0 0 auto;
    margin-top: 0.5rem;
  }

  .settings__delete-account {
    min-width: 146px;
  }
}
