<div id="podcast-episodes-list">
  {% if isClipsView %}

    {% for clip in podcast.clips|sort(true, false, 'episodePubDate') %}
      <a class="podcast-episodes-list-item" href="/clips/{{clip.id}}">
        <div class="podcast-episodes-list-item-title">{{clip.title | stripTags | decodeHTML}}</div>
        <div class="podcast-episodes-list-item-summary-pubdate">
          {{clip.episodePubDate | readableDate}}
        </div>
        <div class="podcast-episodes-list-item-summary">{{clip.episodeTitle | stripTags | decodeHTML}}</div>
      </a>
    {% endfor %}

  {% else %}

    {% for episode in podcast.episodes|sort(true, false, 'pubDate') %}
      <!-- Thanks:) http://stackoverflow.com/questions/17147821/how-to-make-a-whole-row-in-a-table-clickable-as-a-link  -->
      <a class="podcast-episodes-list-item" href="/episodes/{{episode.id}}">
        <div class="podcast-episodes-list-item-pubdate">
          {{episode.pubDate | readableDate}}
        </div>
        <div class="podcast-episodes-list-item-title">{{episode.title | stripTags | decodeHTML}}</div>
        <div class="podcast-episodes-list-item-summary">{{episode.summary | stripTags | decodeHTML}}</div>
      </a>
    {% endfor %}

  {% endif %}
</div>
