<div id="podcast-header">
  <div id="podcast-header-inner">
    <div id="podcast-image">
      <img src="{{ podcast.imageURL }}">
    </div>
    <div id="podcast-text-container">
      <div id="podcast-subscribe">
        <!-- insert content in podcast/index.js file -->
      </div>
      <div id="podcast-title">
        {{ podcast.title }}
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>

<script>
// TODO: this probably shouldn't be here, but it's here for Google Analytics tracking
window.podcastFeedURL = '{{ podcast.feedURL }}';
window.podcastTitle = '{{ podcast.title }}';
window.isSubscribed = {{ isSubscribed }};
</script>
