<div id="podcast-header">
  <div id="podcast-header-inner">
    <div id="podcast-image">
      <img src="{{ podcast.imageURL }}">
    </div>
    <div id="podcast-text-container">
      <div id="podcast-subscribe">
        <!-- insert content in podcast/index.js file -->
      </div>
      <div id="podcast-title">
        {{ podcast.title | stripTags }}
      </div>
      <div id="podcast-author">
        {{ podcast.author | stripTags }}
      </div>
      <div id="podcast-view-selector">
        <a href="/podcasts/{{ podcast.id }}" {% if not isClipsView %}class="active"{% endif %}>Episodes</a>
        &nbsp;&nbsp;
        <a href="/podcasts/clips/{{ podcast.id }}" {% if isClipsView %}class="active"{% endif %}>Clips</a>
      </div>
      <div id="podcast-sort-by-selector">
        {% if isClipsView %}
          popular - past month
        {% else %}
          most recent
        {% endif %}
        <!-- <i class="fa fa-angle-down"></i> -->
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>

<script>
// TODO: this probably shouldn't be here, but it's here for Google Analytics tracking
window.podcastFeedURL = '{{ podcast.feedURL }}';
window.podcastTitle = '{{ podcast.title | stripTags }}';
window.isSubscribed = {{ isSubscribed }};
</script>
