<div id="podcast-header">
  <div id="podcast-header-inner">
    <div id="podcast-image">
      <img src="{{ imageURL }}">
    </div>
    <div id="podcast-text-container">
      {% if isSubscribed %}
        <div id="podcast-subscribe" title="Unsubscribe from podcast">
          <i class="fa fa-star"></i>
        </div>
      {% else %}
        <div id="podcast-subscribe" title="Subscribe to podcast">
          <small>subscribe</small> <i class="fa fa-star-o"></i>
        </div>
      {% endif %}
      <div id="podcast-title">
        {{ title }}
      </div>
    </div>
    <div style="clear:both"></div>
  </div>
</div>

<script>
// TODO: this probably shouldn't be here, but it's here for Google Analytics tracking
window.podcastFeedURL = '{{ feedURL }}';
window.podcastTitle = '{{ title }}';
</script>
