.tutorial-sections {
  .tutorial-section {
    hr {
      margin: 36px 0;
    }

    .tutorial-section-description {
      margin: 0 0 16px 0;
    }

    .tutorial-section-tabs {
      display: flex;
      margin-top: 24px;
      position: relative;
      height: 37px;

      .tutorial-section-tabs-inner {
        display: flex;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        .tutorial-tab {
          -webkit-appearance: none;
          -webkit-border-radius: 0;
          align-items: center;
          border: 1px solid;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          cursor: pointer;
          display: flex;
          font-size: $text-md;
          height: 38px;
          justify-content: center;
          margin-bottom: -1px;
          margin-left: -3px;
          min-width: 72px;
          padding: 0 24px;

          @include themeGen() {
            background-color: getThemeVal('backgroundSection');
            border-color: getThemeVal('divider');
          }

          &.active {
            border-bottom-color: transparent;
            font-weight: 700;
            z-index: 10;
          }

          svg {
            margin-left: 7px;
            width: 0.8em;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .tutorial-section-inner-wrapper {
      border: 1px solid;
      padding: 24px 16px;

      @include themeGen() {
        background-color: getThemeVal('backgroundSection');
        border-color: getThemeVal('divider');
      }

      .tutorial-video-button {
        align-items: center;
        display: flex;
        margin-bottom: 20px;
        min-width: auto;

        &:hover {
          @include themeGen() {
            background-color: getThemeVal(buttonTertiaryBackground) !important;
            color: getThemeVal(buttonTertiaryText) !important;
          }
        }

        .tutorial-video-button-label {
          margin-right: 8px;
        }

        .icon.play-preview {
          align-items: center;
          display: flex;
          position: unset;
          top: 0;

          svg {
            width: 0.7em;
          }
        }
      }

      .tutorial-section-steps-header {
        margin-bottom: 8px;
      }

      .tutorial-section-explanation {
        ol {
          list-style: auto;
          list-style-position: inside;

          li {
            line-height: 26px;
            padding-left: 8px;
          }
        }
      }
    }
  }
}
