:root,
[data-theme="dark"] {
  --background-color-primary: #030626;
  --background-color-secondary: #000000;
  --background-color-tertiary: #0f1235;
  --background-color-opaque: rgba(255, 255, 255, 0.15);
  --border-color-opaque: rgba(255, 255, 255, 0.15);
  --box-shadow-focus: 0 0 0 4px rgba(0, 116, 217, .4);
  --text-color-primary: #ffffff;
}
