[data-theme="light"] {
  --background-color-primary: #f7f9fc;
  --background-color-secondary: #ffffff;
  --background-color-tertiary: #e3e8f0;
  --background-color-quaternary: #cfd8e3;
  --background-color-opaque: rgba(0, 0, 0, 0.04);
  --background-color-glow: rgba(61, 157, 254, 0.08);
  --border-color-primary: #3d9dfe;
  --border-color-opaque: rgba(0, 0, 0, 0.08);
  --box-shadow-focus: 0 0 0 4px rgba(61, 157, 254, 0.2);
  --text-color-primary: #222222;
  --text-color-secondary: #555555;
  --text-color-tertiary: #ffffff;
  --text-color-link: #3d9dfe;
  --text-color-link-hover: #1583ff;

  --button-primary-bg: var(--border-color-primary);
  --button-primary-color: var(--text-color-tertiary);
  --button-primary-bg-hover: var(--text-color-link-hover);
  --button-secondary-bg: var(--background-color-glow);
  --button-secondary-color: var(--text-color-primary);
  --button-secondary-bg-hover: #e3e8f0;
  --button-success-bg: #22c55e;
  --button-success-color: var(--text-color-tertiary);
  --button-warning-bg: #fbbf24;
  --button-warning-color: var(--text-color-primary);
  --button-danger-bg: #ef4444;
  --button-danger-color: var(--text-color-tertiary);
  --button-outline-color: var(--border-color-primary);
}
