:root,
html.light {
  --background-color-tertiary: #999;
}

html.dark {
  --background-color-primary: #030626;
  --background-color-secondary: #000000;
  --background-color-tertiary: #0f1235;
  --text-color-primary: #ffffff;
}
