.button {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  border-radius: 36px;
  font-weight: var(--font-weight-bold);
  height: 44px;
  min-width: 9rem;
  padding: 0 16px;
}

.chevronIcon {
  margin-left: 0.5rem;
  padding-top: 1px;
}

.primary {
  background: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.primary:hover {
  background: var(--button-primary-bg-hover);
}

.primary:focus {
  background: var(--button-primary-bg-hover);
}

.secondary {
  background: var(--button-secondary-bg);
  color: var(--button-secondary-color);
}

.secondary:hover {
  background: var(--button-secondary-bg-hover);
}

.secondary:focus {
  background: var(--button-secondary-bg-hover);
}

.success {
  background: var(--button-success-bg);
  color: var(--button-success-color);
}

.success:hover,
.success:focus {
  background: var(--button-success-bg-hover);
}

.warning {
  background: var(--button-warning-bg);
  color: var(--button-warning-color);
}

.warning:hover,
.warning:focus {
  background: var(--button-warning-bg-hover);
}

.danger {
  background: var(--button-danger-bg);
  color: var(--button-danger-color);
}

.danger:hover,
.danger:focus {
  background: var(--button-danger-bg-hover);
}

.outline {
  background: transparent;
  color: var(--button-primary-bg);
  border: 2px solid var(--border-color-primary);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.link {
  color: var(--text-color-link);
  text-decoration: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  min-width: auto;
}

.link:hover,
.link:focus {
  color: var(--text-color-link-hover);
}

.highlight {
  background: var(--button-highlight-bg);
  color: var(--button-primary-color);
}

.highlight:hover,
.highlight:focus {
  background: var(--button-highlight-bg-hover);
}

.miniPrimary {
  color: var(--button-secondary-color);
  border: var(--button-border-size) solid var(--border-color-primary);
  height: 2rem;
  font-size: var(--font-size-sm);
  padding: 0 1rem;
  min-width: auto;
  font-weight: var(--font-weight-normal);
}

.miniPrimarySelected {
  background: var(--border-color-primary);
  color: var(--background-color-tertiary);
  border: none;
  height: 2rem;
  font-size: var(--font-size-sm);
  padding: 0 1rem;
  min-width: auto;
  font-weight: var(--font-weight-normal);
}
