.clip-list-item {
  display: flex;
  flex: 0;
  flex-direction: row;
  margin: 25px 0 18px 0;
  
  .main-wrapper {
    flex: 1;
    
    .content-wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 6px;
  
      &:hover {
        cursor: pointer;
  
        @include themeGen() {
          color: getThemeVal('textHover');
        }
      }
  
      img {
        margin-right: 16px;
      }
  
      .text-wrapper {
        h3 {
          margin-bottom: 0;
          padding-bottom: 9px;
        }
      
        .episode-podcast-titles {
          font-size: $text-sm;
  
          @include themeGen() {
            color: getThemeVal('textSecondary');
          }
        }
      }
    }
  
    .media-item-controls {
      .pub-date, .time-spacer, .time-info {
        font-size: $text-sm;
      }
    }
  }

  .side-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 16px;
  }
}
