.clip-list-item {
  display: flex;
  flex: 0;
  flex-direction: row;
  margin: 0 0 24px 0;
  
  .main-wrapper {
    flex: 1;
    
    .content-wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 12px;
  
      img {
        border-radius: $item-border-radius;
        margin-right: 16px;
      }
  
      .text-wrapper {
        h3 {
          margin-bottom: 0;
          padding-bottom: 9px;

          @include line-clamp(4);
        }
      
        .episode-podcast-titles {
          font-size: $text-md;

          @include line-clamp(2);
  
          @include themeGen() {
            color: getThemeVal('textSecondary');
          }
        }
      }
    }
  
    .media-item-controls {
      .pub-date, .time-spacer, .time-info {
        font-size: $text-sm;
      }
    }
  }

  .side-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 16px;
  }
}

.page-header.sub-header.no-margin-bottom + .list {
  .clip-list-item {
    margin: 24px 0;
  }
}

@media (hover: hover) {
  .clip-list-item {
    .main-wrapper {
      .content-wrapper {
        &:hover {
          cursor: pointer;
    
          @include themeGen() {
            color: getThemeVal('textHover');
          }
        }
      }
    }
  }
}