.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-round);
  height: 2rem;
  width: 2rem;
  line-height: 1;
  font-size: var(--font-size-xs);
  background-color: var(--background-color-glow);
  border: 1px solid var(--border-color-primary);
}

.navButtonLeft {
  padding-right: 1px; // Keep 1px for visual centering
}

.navButtonRight {
  padding-left: 1px; // Keep 1px for visual centering
}

.navButton:hover,
.navButton:focus {
  background: var(--background-color-tertiary);
}