.dropdownWrapper {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-round);
  color: var(--button-secondary-color);
  border: var(--button-border-size) solid var(--border-color-primary);
  height: 2rem;
  font-size: var(--font-size-sm);
  padding: 0 1rem;
}

.buttonSecondary {
  border: transparent;
}

.buttonOnlyOneOption {
  cursor: none;
}

.buttonLabel {
  font-size: var(--font-size-sm);
}

.chevronIcon {
  margin-left: 0.5rem;
  padding-top: 1px;
}