$body-max-width: 784px;

// Text Sizes
$root-text-size: 16px;
$root-text-line-height: 1.25;

$text-3x-em: 3em;
$text-xxl-em: 2em;
$text-xl-em: 1.25em;
$text-lg-em: 1.125em;
$text-md-em: 1em;
$text-sm-em: .875em;
$text-xs-em: .8em;
$text-tiny-em: .6em;

$text-3x-rem: 3rem;
$text-2x-rem: 2rem;
$text-xxl-rem: 1.5rem;
$text-xl-rem: 1.25rem;
$text-lg-rem: 1.125rem;
$text-md-rem: 1rem;
$text-sm-rem: .875rem;
$text-xs-rem: .8rem;
$text-tiny-rem: .6rem;

$button-border-width: 1px;
$button-border-radius: 10px;
$button-padding: 0.5rem 0.75rem;
$button-padding-sm: 0.25rem 0.75rem;

$border-focus-margin: 0.25rem;

// Colors
$white: #fafafa;
$white-darker: #f5f5f5;
$gray-lightest: #eaeaea;
$gray-lighter: #c1c1c1;
$gray-light: #9c9c9c;
$gray: #777;
$gray-dark: #3d4246;
$gray-darker: #292828;
$gray-darkest: #282a2b;
$black-lighter: #151515;
$black: #101010;

$blue-lighter: #4695c0;
$blue: #197BB1;
$blue-darker: #14628d;

$yellow: #ffc107;

$red-lighter: #c43745;
$red: #bd2130;
$red-darker: #aa1e2b;
$orange-lighter: #f6b472;
$orange: #f4a24f;
$orange-darker: #c3813f;
$green-lighter: #69c890;
$green: #29b160;
$green-darker: #1d7c43;

$brand-color: #197BB1;

// Light Theme Colors
$light-text-primary-color: $black;
$light-text-secondary-color: $gray;
$light-text-link-color: $blue;

// Dark Theme Colors
$dark-text-primary-color: $white;
$dark-text-secondary-color: $gray-light;
$dark-text-link-color: $blue;
