$background-blur: 14px;

$border-width-default: 1.5px;

$button-small-radius: 16px;
$button-rectangle-radius: 36px;
$button-circle-radius: 100px;
$button-small-height: 32px;

$button-close-size: 40px;

$dropdown-menu-width-small: 150px;
$dropdown-menu-width-medium: 200px;
$dropdown-menu-width-large: 250px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$img-small: 40px;
$img-medium: 64px;
$img-large: 80px;
$img-xtraLarge: 128px;
$img-fullViewAudio: 300px;

$item-border-radius: 4px;

$main-max-width: 1096px;

$nav-width: 198px;

$pagination-button-round-height: 37px;
$pagination-button-square-height: 40px;

$text-huge: 48px;
$text-xxxl: 33px;
$text-xxl: 27px;
$text-xl: 21px;
$text-lg: 19px;
$text-md: 16px;
$text-sm: 14px;
$text-tiny: 12px;
$text-tiniest: 9px;



/* max-width breakpoints for screen sizes */
$media-max-width-mobile: 480px;
$media-max-width-tablet: 768px;
$media-max-width-tablet-xl: 1024px;
$media-max-width-laptop: 1240px;

/* min-width breakpoints for screen sizes */
$media-min-width-tablet: 481px;
$media-min-width-tablet-xl: 769px;
$media-min-width-laptop: 1025px;
