$button-small-radius: 16px;
$button-circle-radius: 100px;
$button-small-height: 32px;

$dropdown-menu-width-small: 150px;
$dropdown-menu-width-medium: 200px;
$dropdown-menu-width-large: 250px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$item-border-radius: 4px;

$main-max-width: 1096px;

$nav-width: 198px;

$pagination-button-round-height: 37px;
$pagination-button-square-height: 40px;

$text-huge: 48px;
$text-xxl: 27px;
$text-xl: 21px;
$text-lg: 19px;
$text-md: 16px;
$text-sm: 14px;
$text-tiny: 12px;
