

$text-huge: 48px;
$text-xxl: 27px;
$text-xl: 21px;
$text-lg: 19px;
$text-md: 16px;
$text-sm: 14px;
$text-tiny: 12px;

$button-small-radius: 16px;
$button-large-radius: 32px;

$input-border-radius: 4px;


// $body-max-width: 784px;

// // Text Sizes
// $root-text-size: 16px;
// $root-text-line-height: 1.25;

// $text-3x-em: 3em;
// $text-xxl-em: 2em;
// $text-xl-em: 1.25em;
// $text-lg-em: 1.125em;
// $text-md-em: 1em;
// $text-sm-em: .875em;
// $text-xs-em: .8em;
// $text-tiny-em: .6em;

// $text-3x-rem: 3rem;
// $text-2x-rem: 2rem;
// $text-xxl-rem: 1.5rem;
// $text-xl-rem: 1.25rem;
// $text-lg-rem: 1.125rem;
// $text-md-rem: 1rem;
// $text-sm-rem: .875rem;
// $text-xs-rem: .8rem;
// $text-tiny-rem: .6rem;

// $button-border-width: 1px;
// $button-border-radius: 10px;
// $button-padding: 0.5rem 0.75rem;
// $button-padding-sm: 0.25rem 0.75rem;

// $border-focus-margin: 0.25rem;
