@import './gradientStyles.scss';
@import './themes.scss';

@mixin line-clamp($line-count) {
  display: -webkit-box;
  line-clamp: $line-count;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
}

@mixin blurredBackground() {
  @include themeGen() {
    background-color: getThemeVal("backgroundOpaqueDark");
  }

  @supports(backdrop-filter: blur($background-blur)) {
    backdrop-filter: blur($background-blur);
    -webkit-backdrop-filter: blur($background-blur);

    @include themeGen() {
      background-color: getThemeVal("backgroundTransparent");
    }
  }
}
