@import './gradientStyles.scss';
@import './themes.scss';

@mixin line-clamp($line-count) {
  display: -webkit-box;
  line-clamp: $line-count;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
}

@mixin blurredBackground() {
  backdrop-filter: blur($background-blur);
  -webkit-backdrop-filter: blur($background-blur);
}
