.header {
  background-color: var(--background-color-primary);
  background-image: var(--background-gradient-primary);
  padding: var(--header-padding);
  margin: var(--header-margin);
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.image {
  border-radius: var(--border-radius);
}

.textSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 1.5rem;
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-light);
}
