.page-header {
  border-radius: 0;

  @include themeGen() {
    background-color: getThemeVal('backgroundTertiary');
  }

  .page-header-title-wrapper {
    margin-right: 8px;
  }

  .dropdowns {
    align-items: center;
    flex-wrap: wrap;

    .switch-with-icons-wrapper {
      align-items: flex-start;
      margin: 0 0 0 16px;

      svg {
        margin-top: 3px;

        @include themeGen() {
          color: getThemeVal('textSecondary');
        }
      }
    }
  }

  &.sub-header {
    background-color: transparent;
    margin: 0;

    .main-max-width {
      margin: 0;

      .page-header-title-wrapper {
        cursor: pointer;
        display: flex;

        h2 {
          margin: 16px 0;
        }

        .header-caret {
          align-items: center;
          display: flex;
          font-size: $text-xl;
          margin-left: 14px;
        }
      }

      .dropdowns {
        margin: 16px 0 24px 0;
      }
    }
  }

  .main-max-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      margin-bottom: 20px;
    }

    h2 {
      margin-right: 16px;
      margin-bottom: 20px;
    }

    .dropdowns {
      display: flex;
      margin-bottom: 20px;
      margin-top: 4px;
    }

    .dropdown-sort-wrapper {
      margin: 0 0 0 8px;
    }

    .buttons {
      display: flex;

      button {
        margin: 0 0 0 8px;
      }
    }
  }
}

.page-header-hr {
  // margin-bottom: 24px;
}

.page-header-spacer {
  display: block;
  height: 24px;
}

@media (max-width: $media-max-width-tablet) {
  .page-header {
    margin-top: 0;
    padding: 20px 16px 0 16px;

    &.sub-header {
      background-color: transparent;
      padding: 0;
    }

    .main-max-width {
      margin: 0;

      h1 {
        font-size: $text-xxxl;
      }

      .dropdowns {
        margin-top: 0;

        .dropdown-primary-wrapper {
          margin-left: 0;
        }
      }
    }
  }
}

@media (min-width: $media-min-width-laptop) {
  .page-header {
    &.sub-header {
      .main-max-width {
        .page-header-title-wrapper {
          h2 {
            margin: 24px 0 16px 0;
          }
        }
        .dropdowns {
          margin: 24px 0;
        }
      }
    }
  }
}
