@use '../../mixins/form' as *;

.buttons {
  @include formButtonsWrapper;
}

.verificationSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
