@use "breakpoints";
@use '../mixins/flexbox' as *;
@use '../mixins/layout' as *;

.modalRoot {
  position: fixed;
  inset: 0;
  z-index: 10000;
  @include flexCenter;
}

.modalBackdrop {
  @include fullCoverageWithBackdrop(absolute, 12px);
  background: rgba(0, 0, 0, 0.7);
}

.modalHeader {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  position: relative;
}

.modalHeaderText {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modalCloseButton {
  margin-left: var(--spacing-lg);
  background: var(--background-color-tertiary);
  border: none;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: var(--border-radius-round);
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modalCloseButtonAbsolute {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-left: 0;
}

.modalChildren {
  margin-top: var(--spacing-lg);
}

.modalContent {
  position: relative;
  box-sizing: border-box;
  background: var(--background-color-primary);
  border-radius: var(--border-radius);
  z-index: 1;
  padding: var(--spacing-modal-padding);
  display: flex;
  flex-direction: column;
  min-width: 360px;
  width: 100%;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
}

@media (max-width: breakpoints.$breakpoint-md-max) {
  .modalContent {
    min-width: 320px;
  }
}