.fundingLinksList {
  list-style: none;
  padding: var(--spacing-none);
  margin: var(--spacing-none);
}

.fundingLinkItem {
  margin-bottom: var(--spacing-xl);
}

.fundingLinkItem:last-child {
  margin-bottom: var(--spacing-sm);
}

.fundingLink {
  font-size: 1.1rem;
  font-weight: 600;
}
