@use '../../mixins/flexbox' as *;

.content {
  display: flex;
  flex-direction: column;
}

.message {
  margin-bottom: var(--spacing-2xl);
  color: var(--text-color-secondary);
}

.buttons {
  display: flex;
  gap: var(--spacing-lg);
  @include flexEnd;
  margin-top: var(--spacing-lg);
}
