@use "breakpoints";

.tab {
  position: relative;
  margin-right: -3px;
  padding: 0.5rem 1.5rem;
  color: var(--button-secondary-color);
  font-weight: var(--font-weight-light);
  border: 1px solid var(--border-color-primary);
  background-color: var(--background-color-primary);
  border-bottom: none;
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
  transition: background 0.2s, color 0.2s;
}

.tab:focus {
  box-shadow: 0 -5px 0 0 rgba(0, 116, 217, 0.4);
  // --box-shadow-focus: 0 0 0 4px rgba(0, 116, 217, 0.4);
}

.tab.selected {
  z-index: 2;
  font-weight: var(--font-weight-bold);
}

@media (min-width: breakpoints.$breakpoint-xl-min) {
  .hideDesktop {
    display: none;
  }
}
