.page-header-tab {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: $text-xl;
  margin: 0 12px;
  padding: 0 24px;

  &.active {
    border-bottom: 8px solid $blueBright;
    font-weight: $font-weight-bold;
    padding-top: 8px;
  }
}