.page-header-tab {
  align-items: center;
  border-bottom: 8px solid transparent;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  font-size: $text-xl;
  margin: 0 12px;
  padding: 8px 24px 0 24px;

  &.active {
    border-bottom: 8px solid $blueBright;
    font-weight: $font-weight-bold;
    padding-top: 8px;
  }
}

@media (max-width: $media-max-width-mobile) {
  .page-header-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0;
    padding: 16px 16px 8px 16px;

    &.active {
      border-bottom: 8px solid $blueBright;
      padding-top: 16px;
    }
  }
}
