@use 'breakpoints';

.sideContent {
  margin: calc(var(--spacing-xs) * -1) calc(var(--spacing-sm) * -1) var(--spacing-none) var(--spacing-3xl);
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  overflow: hidden;
}

@media (max-width: breakpoints.$breakpoint-lg-max) {
  .sideContent {
    display: none;
  }
}