@use 'breakpoints';

.sideContent {
  margin: 0.125rem 0 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: breakpoints.$breakpoint-lg-max) {
  .sideContent {
    display: none;
  }
}