.episode-info {
  margin: 24px 0 0 0;

  .truncated-text {
    margin: 20px 0 26px 0;
  }

  .media-item-controls {
    margin-bottom: 27px;
  }

  ul {
    padding: 4px 0 4px 16px;

    li {
      list-style-type: circle;
      margin: 4px 0;
      margin-left: 12px;
    }
  }
}
