.page-header-tabs {
  padding: 1px 0 0 0;

  @include themeGen() {
    background-color: getThemeVal('backgroundTertiary');
  }
  
  .main-max-width {
    margin-bottom: 13px;
    display: flex;

    .tab-wrapper {
      display: flex;
      margin: 12px 0 -12px 48px;
    }
  }
}
