{% extends "layout.html" %}

{% block body %}

  {% include "player/player.html" %}

  {% include "player/functions.html" %}

  {% include "player/make-clip.html" %}

  {% include "player/add-to-playlist.html" %}

  {% include "player/recommend.html" %}

  {% include "player/stats.html" %}

  {% include "player/description.html" %}

  {% include "player/list.html" %}

  {% include "player/clip-created-modal.html" %}

{% endblock %}

{% block scripts %}
  {% include "player/setWindowVars.html" %}
  
  <script src="/static/build/vendors.js"></script>
  <script src="/static/build/player/index.js"></script>

{% endblock %}
