@use "../../../variables/breakpoints" as *;

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.startSection {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  gap: 1.75rem;
}

.startSection > button {
  height: 24px;
  width: 24px;
  font-size: var(--font-size-md);
}

.endSection {
  display: flex;
  height: 24px;
  align-items: center;
}

.endSection > button {
  height: 24px;
  width: 24px;
  font-size: var(--font-size-md);
}
