@use '../../../mixins/lineClamp' as *;

.info {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.titleSection {
  text-align: center;
}

.itemTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  @include line-clamp(1);
}

.channelTitle {
  font-weight: var(--font-weight-light);
  color: var(--text-color-accent);
  @include line-clamp(1);
  margin-top: 0.25rem;
}

.imageWrapper {
  margin-top: 1.25rem;
  flex: 1 1 0;
  position: relative;
  min-height: 0;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.subtitleSection {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.subtitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
  margin-top: 1rem;
  @include line-clamp(1);
}

.timeRange {
  font-size: var(--font-size-sm);
  color: var(--text-color-link);
  margin-top: 0.5rem;
  @include line-clamp(1);
}
