{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <h4>My Subscribed Podcasts</h4>
    <div class="podcast-list">
      {% for podcast in podcasts %}
        <a class="podcast-item" data-id="{{podcast.id}}" href="/podcasts/{{podcast.id}}">
          <div class="podcast-item-img">
            <img src="{{podcast.imageURL}}">
          </div>
          <div class="podcast-item-title">
            {{podcast.title}}
          </div>
          <div class="podcast-item-total-episodes">
            {{ podcast.episodes | length }} episodes
          </div>
          <div class="podcast-item-last-pubdate">
            {{podcast.episodes[0].pubDate | readableDate}}
          </div>
          <div class="clearfix"></div>
        </a>
      {% endfor %}
    </div><!-- /#my-podcast-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% endblock %}

{% block scripts %}
  <script src="/static/build/vendors.js"></script>
  <script src="/static/build/my-podcasts/index.js"></script>
{% endblock %}
