{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <h4>My Podcasts</h4>
    <div class="podcast-list">
      {% for podcast in subscribedPodcasts|sortTextIgnoreArticles(false, true, 'title') %}
        <a class="podcast-item" data-id="{{podcast.id}}" href="/podcasts/{{podcast.id}}">
          <div class="podcast-item-img">
            <img class="lazy" data-original="{{podcast.imageURL}}">
          </div>
          <div class="podcast-item-title">
            {{ podcast.title | stripTags }}
          </div>
          <div class="podcast-item-total-episodes">
            <!-- TODO: show the pubDate of the podcast's most recent episode -->
            <!-- How can we derive episode count efficiently?
                 I'm considering sidestepping querying and assigning the episodeCount
                 during feed parsing. -->
            {{ podcast.episodeCount }} episodes
          </div>
          <div class="podcast-item-last-pubdate">
            <!-- TODO: show the pubDate of the podcast's most recent episode -->
            <!-- How can we query last episode pubDate efficiently? I've tried a
                 lot of things but none of them seem do to the trick efficiently.
                 I'm still considering sidestepping querying and assigning the
                 lastEpisodePubDate during feed parsing. -->
            {{ podcast.lastEpisodePubDate | readableDate }}
          </div>
          <div class="clearfix"></div>
        </a>
      {% endfor %}
    </div><!-- /#my-podcast-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% endblock %}

{% block scripts %}
  <script src="/static/build/vendors.js"></script>
  <script src="/static/build/my-podcasts/index.js"></script>
{% endblock %}
