{% extends "layout.html" %}
{% block body %}

<div class="row">
  <div class="col-xs-12">
    <h4>My Podcasts</h4>
    <div class="podcast-list">
      {% for podcast in subscribedPodcasts|sortTextIgnoreArticles(false, true, 'title') %}
        <a class="podcast-item" data-id="{{podcast.id}}" href="/podcasts/{{podcast.id}}">
          <div class="podcast-item-image">
            <img class="lazy" data-original="{{podcast.imageURL}}">
          </div>
          <div class="podcast-item-title">
            {{ podcast.title | stripTags }}
          </div>
          <div class="podcast-item-last-episode-pubdate">
            {{ podcast.lastEpisodePubDate | readableDate }}
          </div>
          <div class="podcast-item-last-episode-title">
            {{ podcast.lastEpisodeTitle | striptags }}
          </div>
          <div class="clearfix"></div>
        </a>
      {% endfor %}
    </div><!-- /#my-podcast-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% endblock %}

{% block scripts %}
  <script src="/static/build/vendors.js"></script>
  <script src="/static/build/my-podcasts/index.js"></script>
{% endblock %}
