@use 'breakpoints';

.dropdownWrapper {
  position: relative;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.profileInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profileName {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.profileIcon {
  font-size: var(--font-size-lg);
  margin-right: 0.5rem;
}

@media (max-width: breakpoints.$breakpoint-sm) {
  .profileName {
    display: none;
  }
}