@use 'breakpoints';
@use '../../mixins/flexbox' as *;
@use '../../mixins/media-queries' as *;

.navbar {
  @include flexBetween;
  padding: 0 var(--spacing-md) 0 var(--spacing-2xl);
  background: var(--background-color-secondary);
  height: var(--navbar-desktop-height);
  min-height: var(--navbar-desktop-height);
}

@include mobile {
  .navbar {
    background-color: var(--background-color-quaternary);
    padding: var(--spacing-none);
    height: var(--navbar-mobile-height);
    min-height: var(--navbar-mobile-height);
  }
}
