@use 'breakpoints';

.button {
  display: none;
  background: none;
  border: none;
  font-size: var(--font-size-lg);
  padding: 0.5rem 1rem;
  align-items: center;
}

@media (max-width: breakpoints.$breakpoint-md) {
  .button {
    display: flex;
  }
}