@use 'breakpoints';

.button {
  display: none;
  background: none;
  border: none;
  font-size: var(--font-size-xl);
  padding: var(--spacing-form-input);
  align-items: center;
}

.icon {
  display: flex;
}

@media (max-width: breakpoints.$breakpoint-sm-max) {
  .button {
    display: flex;
    font-size: var(--font-size-md);
  }
}