.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background: var(--background-color-secondary);
  height: var(--navbar-desktop-height);
}

.leftButtons {
  display: flex;
  gap: 0.75rem;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-round);
  height: 32px;
  width: 32px;
  line-height: 1;
  font-size: var(--font-size-xs);
  background-color: var(--background-color-glow);
  border: 1px solid var(--border-color-primary);
}

.navButtonLeft {
  padding-right: 1px;
}

.navButtonRight {
  padding-left: 1px;
}

.navButton:hover,
.navButton:focus {
  background: var(--background-color-tertiary);
}

.dropdownButton {
  background: none;
  border: none;
  color: var(--text-color-primary);
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.downCaretIcon {
  font-size: 1.125rem;
}

.profileIcon {
  font-size: 1.375rem;
  margin-right: 0.5rem;
}
