@use 'breakpoints';

.dropdownWrapper {
  position: relative;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: var(--spacing-form-input);
  cursor: pointer;
}

.profileInfo {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.profileName {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: var(--spacing-md);
}

.profileIcon {
  font-size: var(--font-size-lg);
  margin-right: var(--spacing-md);
}

@media (max-width: breakpoints.$breakpoint-sm-max) {
  .profileName {
    display: none;
  }
}