<div class="modal fade" id="clip-created-modal" tabindex="-1" role="dialog" aria-labelledby="clipCreatedLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <label>
          Link to clip:
        </label>
        <div class="input-group">
          <input type="text" class="form-control" id="clip-created-modal-link" readonly>
          <span class="input-group-btn">
            <button type="button" class="btn btn-secondary" id="clip-created-modal-copy-btn"><i class="fa fa-copy"></i>&nbsp; Copy</button>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="clip-created-modal-add-to-playlist-btn"><i class="fa fa-list-ul"></i>&nbsp; Add To Playlist</button>
        <button type="button" class="btn btn-secondary" id="clip-created-modal-recommend-btn"><i class="fa fa-user-plus"></i>&nbsp; Recommend</button>
      </div>

      <div id="clip-created-modal-add-to-playlist-menu">
        {% for playlist in usersOwnedPlaylists|sort(false, true, 'title') %}
          {% if not playlist.isRecommendation and playlist.title != 'My Clips' %}
            <div class="clip-created-modal-playlist" data-id="{{ playlist.id }}">
              <div class="clip-created-modal-playlist-count">
                <!-- TODO: make displaying the playlist item count more efficient  -->
                items: {{ playlist.mediaRefs|length }}
              </div>
              <div class="clip-created-modal-playlist-title">
                {{playlist.title | stripTags}}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div id="clip-created-modal-recommend-menu">
        {% for playlist in usersOwnedPlaylists|sort(false, true, 'title') %}
          {% if playlist.isRecommendation %}
            <div class="clip-created-modal-playlist" data-id="{{ playlist.id }}">
              <div class="clip-created-modal-playlist-count">
                <!-- TODO: make displaying the playlist item count more efficient  -->
                items: {{ playlist.mediaRefs|length }}
              </div>
              <div class="clip-created-modal-playlist-title">
                {{ playlist.title | stripTags }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
