<div class="modal fade" id="createPersonModal" tabindex="-1" role="dialog" aria-labelledby="createPersonLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="createPersonModalName" class="form-control-label">Add Person</label>
            <input type="text" class="form-control" id="createPersonModalName" placeholder="name">
          </div>
        </form>
        <div id="create-person-share-settings">
          <i class="fa fa-link"></i>&nbsp; Only with Link: <i>playlist is visible to anyone with the link</i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="createPersonModalAddButton">Add</button>
      </div>
    </div>
  </div>
</div>
