
<div id="player-functions">
  <div id="player-time-jump-back" class="text-primary" title="Go back 15 seconds">
    <!-- insert content in libs/js/scripts.js -->
  </div>
  <div id="player-time-jump-forward" class="text-primary" title="Skip 15 seconds">
    <!-- insert content in libs/js/scripts.js -->
  </div>
  <div id="toggle-make-clip-btn" class="text-primary" title="Make a clip">
    <!-- insert content in libs/js/scripts.js -->
  </div>
  <div id="toggle-playlist-btn" class="text-primary" title="Add to playlist">
    <!-- insert content in libs/js/scripts.js -->
  </div>
  <!-- <div id="toggle-support-btn" class="text-primary" title="Support"> -->
    <!-- insert content in libs/js/scripts.js -->
  <!-- </div> -->
  <div id="toggle-share-btn" class="text-primary" title="Share">
    <!-- insert content in libs/js/scripts.js -->
  </div>
  <div id="player-autoplay" class="text-primary">
    <!-- insert content in libs/js/scripts.js -->
  </div>
  <div style="clear:both;"></div>
</div>
