<div id="playlist">
  <hr>
  {% if mediaRefs|isPlaylist %}
    {% if isSubscribed and not isOwner %}
      <div id="playlist-subscribe" title="Unsave playlist" tabindex="0"><i class="fa fa-star"></i></div>
    {% elif not isSubscribed and not isOwner %}
      <div id="playlist-subscribe" title="Save playlist" tabindex="0"><small class="hidden-xs-down">save playlist</small> <i class="fa fa-star-o"></i></div>
    {% endif %}
    {% if isOwner %}
      <div id="playlist-edit" title="Edit playlist" tabindex="0"><small>edit</small> <i class="fa fa-gear"></i></div>
    {% endif %}
    <div id="playlist-title">
      {% if isRecommendation %}
        <i class="fa fa-list-ul"></i>&nbsp;Playlist for: {{ title }} <span id="playlist-total-items">({{ mediaRefs | length }})</span>
      {% else %}
        <i class="fa fa-list-ul"></i>&nbsp;{{ title }} <span id="playlist-total-items">({{ mediaRefs | length }})</span>
      {% endif %}
    </div>
    <!-- <div id="playlist-rss-feed-link">
      <a href="/playlists/{{ id }}?rssFeed">RSS Feed</a> <a href="/how-to"><i class="fa fa-info-circle"></i></a>
    </div> -->
    <div id="playlist-subtitle">
      {% if isRecommendation %}
        From: {{ ownerName }}
      {% else %}
        By: {{ ownerName }}
      {% endif %}
    </div>
    {% for item in mediaRefs | reverse %}
      <div class="playlist-item" data-media-ref-id="{{item.id}}" tabindex="0">
        {% if item|isEpisode %}
          <div class="playlist-item-image">
            <img class="lazy" data-original="{{ item.podcastImageUrl }}">
          </div>
          <div class="playlist-item-text-wrapper">
            <div class="playlist-item-remove-btn">
              <small>remove</small> <i class="fa fa-times"></i>
            </div>
            <div class="playlist-item-podcast-title">
              {{ item.podcastTitle | decodeHTML }}
            </div>
            <div class="playlist-item-date">
              {{ item.episodePubDate | readableDate }}
            </div>
            <div class="playlist-item-sub-title">
              {{ item.episodeTitle | decodeHTML }}
            </div>
          </div><!-- /.playlist-item-text-wrapper -->
          {% if item.episodeSummary %}
            <div class="playlist-item-details">
              {{ item.episodeSummary | stripTags | truncate(255) }}
            </div>
          {% endif %}
          <div style="clear:both"></div>
        {% else %} <!-- else treat it as a clip -->
          <div class="playlist-item-image">
            <img class="lazy" data-original="{{ item.podcastImageUrl }}">
          </div>
          <div class="playlist-item-text-wrapper">
            <div class="playlist-item-title">
              {% if item.title %}
                {{ item.title | truncate(275) }}
              {% endif %}
            </div>
            <div class="playlist-item-remove-btn">
              <small>remove</small> <i class="fa fa-times"></i>
            </div>
            <div class="playlist-item-podcast-title">
              {{ item.podcastTitle | decodeHTML}}
            </div>
            <div class="playlist-item-date">
              {{ item.episodePubDate | readableDate }}
            </div>
            <div class="playlist-item-sub-title">
              {{ item.episodeTitle | decodeHTML }}
            </div>
          </div><!-- /.playlist-item-text-wrapper -->
          <div class="playlist-item-duration">
            {% if item.endTime %}
              {{ item.duration | secondsToReadableDuration }}
            {% endif %}
          </div>
          <div class="playlist-item-time">
            Clip:
            {{ item.startTime | convertSecToHHMMSS }}
            {% if item.endTime %}
              - {{ item.endTime | convertSecToHHMMSS }}
            {% else %}
              start time
            {% endif %}
          </div>
          <div style="clear:both"></div>
        {% endif %}
      </div><!-- /.playlist-item -->
    {% endfor %}
  {% else %}
    <div id="playlist-title">
      Clips from this <span id="playlist-type-selector">podcast <!--<i class="fa fa-angle-down"></i>--></span>
    </div>

    <div class="sort-by-dropdown dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        top - past week <i class="fa fa-angle-down"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" id="pastHour">top - past hour</a>
        <a class="dropdown-item" id="pastDay">top - past day</a>
        <a class="dropdown-item" id="pastWeek">top - past week</a>
        <a class="dropdown-item" id="pastMonth">top - past month</a>
        <a class="dropdown-item" id="pastYear">top - past year</a>
        <a class="dropdown-item" id="allTime">top - all time</a>
        <a class="dropdown-item" id="recent">most recent</a>
      </div>
    </div>
  {% endif %}
</div><!-- /#playlist -->

<script>
// TODO: this is weird to have here
window.playlistId = '{{ id }}';
</script>
