{% if mediaRefs|isPlaylist %}
  <div id="playlist">
    <hr>
    {% if isSubscribed and not isOwner %}
      <div id="playlist-subscribe" title="Unsave playlist"><i class="fa fa-star"></i></div>
    {% elif not isSubscribed and not isOwner %}
      <div id="playlist-subscribe" title="Save playlist"><small>save playlist</small> <i class="fa fa-star-o"></i></div>
    {% endif %}
    <div id="playlist-title">
      {% if isRecommendation %}
        <i class="fa fa-list-ul"></i>&nbsp;Recommended for {{ title }} ({{ mediaRefs | length }})
      {% else %}
        <i class="fa fa-list-ul"></i>&nbsp;{{ title }} ({{ mediaRefs | length }})
      {% endif %}
    </div>
    <div id="playlist-subtitle">
      {% if isRecommendation %}
        From: {{ ownerName }}
      {% else %}
        By: {{ ownerName }}
      {% endif %}
    </div>
    {% for item in mediaRefs %}
      {% if item|isEpisode %}
        <div class="playlist-item">
          <div class="playlist-item-inner">
            <div class="playlist-item-image">
              <img src="{{ item.podcastImageURL }}">
            </div>
            <div class="playlist-item-text-wrapper">
              <div class="playlist-item-podcast-title">
                {{ item.podcastTitle }}
              </div>
              <div class="playlist-item-sub-title">
                {{ item.episodeTitle }}
              </div>
              <div class="playlist-item-time">
                  Full Episode
                  {% if item.episodeDuration %}
                    – {{ item.episodeDuration | convertSecToHHMMSS }}
                  {% endif %}
              </div>
              <div class="playlist-item-date">
                {{ item.episodePubDate | readableDate }}
              </div>
            </div><!-- /.playlist-item-text-wrapper -->
            {% if item.episodeSummary %}
              <div class="playlist-item-details">
                {{ item.episodeSummary }}
              </div>
            {% endif %}
            <div style="clear:both"></div>
          </div><!-- /.playlist-item-inner -->
        </div><!-- /.playlist-item -->
      {% else %} <!-- else treat it as a clip -->
        <div class="playlist-item">
          <div class="playlist-item-inner">
            <div class="playlist-item-image">
              <img src="{{ item.podcastImageURL }}">
            </div>
            <div class="playlist-item-text-wrapper">
              <div class="playlist-item-podcast-title">
                {{ item.podcastTitle }}
              </div>
              <div class="playlist-item-sub-title">
                {{ item.episodeTitle }}
              </div>
              <div class="playlist-item-time">
                {{ item.startTime | convertSecToHHMMSS }}
                {% if item.endTime %}
                  to {{ item.endTime | convertSecToHHMMSS }}
                {% endif %}
              </div>
              <div class="playlist-item-date">
                {{ item.episodePubDate | readableDate }}
              </div>
            </div><!-- /.playlist-item-text-wrapper -->
            {% if item.title %}
              <div class="playlist-item-details">
                {{ item.title | truncate(295) }}
              </div>
            {% endif %}
            <div style="clear:both"></div>
          </div><!-- /.playlist-item-inner -->
        </div><!-- /.playlist-item -->
      {% endif %}
    {% endfor %}
  </div><!-- /#playlist -->
{% endif %}

<script>
// TODO: this is weird to have here
window.playlistId = '{{ id }}';
</script>
