
<div id="make-clip">
  <div id="make-clip-header" class="player-function-header">Create a Clip</div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="form-group" id="make-clip-start-time">
        <label for="startTime">Start &nbsp;</label>
          <i class="fa fa-play text-primary"></i><div class="text-primary">preview</div>
          <input type="text" class="form-control" placeholder="0:00:00" maxlength="8">
          <small id="make-clip-start-time-error" class="form-control-feedback"></small>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <div class="form-group" id="make-clip-end-time">
        <label for="endTime">End &nbsp;</label>
        <i class="fa fa-play text-primary"></i><div class="text-primary">preview</div>
        <input type="text" class="form-control" placeholder="0:00:00" maxlength="8">
        <small id="make-clip-end-time-error" class="form-control-feedback"></small>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="form-group" id="make-clip-title">
        <label for="clipTitle">Title</label>
        <textarea class="form-control" rows="2" placeholder="What is the clip about? (optional)"></textarea>
      </div>
      <div id="make-clip-share-settings">
        <i class="fa fa-globe"></i>&nbsp; <span>Public:</span> <i>clips may be visible to other users</i>
      </div>
      <button type="submit" class="btn btn-primary pull-right" id="make-clip-btn">Save</button>
      <button type="cancel" class="btn btn-secondary pull-right" id="make-clip-cancel">Close</button>
    </div>

  </div>
</div>
