
<div id="recommend">
  <div id="recommend-header" class="player-function-header">
    Recommend To
  </div>
  <div id="recommend-new-playlist" class="player-function-header-btn text-primary"
       data-toggle="modal" data-target="#createPersonModal">
    Add Person
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-xs-12">
      {% for playlist in usersOwnedPlaylists|sort(false, true, 'title') %}
        {% if playlist.isRecommendation %}
          <div class="add-to-playlist-item" data-id="{{ playlist.id }}">
            <a class="add-to-playlist-item-link" href="/playlists/{{ playlist.id }}">
              <i class="fa fa-link"></i>
            </a>
            <div class="add-to-playlist-item-text">
              <div class="add-to-playlist-item-count">
                items: {{ playlist.mediaRefs|length }}
              </div>
              <div class="add-to-playlist-item-title">
                {{ playlist.title | stripTags }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% include "player-page/create-person-modal.html" %}
