<script>
  // TODO: what should we do with decodeEntities? this only place it's used
  // It is a JS alternative to this in jQuery:
  // window.description = $('<textarea />').html(description).text();
  var decodeEntities = (function() {
    // this prevents any overhead from creating the object each time
    var element = document.createElement('div');

    function decodeHTMLEntities (str) {
      if(str && typeof str === 'string') {
        // strip script/html tags
        str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
        str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
        element.innerHTML = str;
        str = element.textContent;
        element.textContent = '';
      }

      return str;
    }

    return decodeHTMLEntities;
  })();

  window.isPlayerPage = true;
  window.isEmptyPlaylist = false;
  window.isPlaylist = false;
  window.previousEpisodeMediaURL = null;

  // If a mediaRefs object exists, then set window variables for the playlist page
  {% if mediaRefs|isPlaylist %}
    window.isPlaylist = true;

    {% if mediaRefs|length %}

      window.mediaRefs = {{ mediaRefs|stringify|safe }};

      var item;

      // The hash value determines which playlist item to load
      window.urlHashIndexValue = window.location.hash.substr(1) - 1;
      if (urlHashIndexValue > 0) {
        item = mediaRefs[urlHashIndexValue];
      } else {
        window.urlHashIndexValue = 0;
        item = mediaRefs[0];
      }

      // Parse the selected playlist item and set its window variables
      window.startTime = item.startTime;
      window.endTime = item.endTime;
      window.ownerName = item.ownerName;
      window.episodeDuration = item.episode.duration;
      window.podcastId = item.episode.podcast.id;
      window.podcastTitle = item.episode.podcast.title;
      window.podcastImageURL = item.episode.podcast.imageURL;
      window.episodeId = item.episode.id;
      window.episodeTitle = item.episode.title;
      window.episodeMediaURL = item.episode.mediaURL;
      window.episodeImageURL = item.episode.imageURL;
      window.episodePubDate = item.episode.pubDate;

      // if item is an Episode
      if (window.startTime === 0 && window.endTime === null) {
        window.isEpisode = true;
        window.description = item.episode.summary;
        window.mediaRefId = 'episode_' + item.episode.id;
      } else {
        window.isEpisode = false;
        window.description = item.title;
        window.mediaRefId = item.id;
      }

      window.isSubscribed = item.isSubscribed;

      // TODO: is this a security vulnerability?
      window.description = decodeEntities(description);
    {% else %}
      window.isEmptyPlaylist = true;
      window.isEpisode = false;
    {% endif %}

  // If there's an episode property, then set the window vars for the clip page.
  {% elif episode %}
    window.mediaRefId = "{{ id }}";
    window.podcastId = "{{ episode.podcast.id }}";
    window.podcastTitle = "{{ episode.podcast.title }}";
    window.podcastImageURL = "{{ episode.podcast.imageURL }}";
    window.episodeId = "{{ episode.id }}";
    window.episodeTitle = "{{ episode.title }}";
    window.episodeMediaURL = "{{ episode.mediaURL }}";
    window.episodePubDate = "{{ episode.pubDate }}";
    window.episodeImageURL = "{{ episode.imageURL }}";
    window.startTime = "{{ startTime }}";
    window.endTime = "{{ endTime }}";
    window.isEpisode = false;

    // TODO: is this a security vulnerability?
    window.description = "{{ title|nl2br }}";
    window.description = decodeEntities(description);

    window.isSubscribed = '{{ isSubscribed }}';

  // If there's a podcast property, then set the window vars for the episode page.
  {% elif podcast %}
    window.mediaRefId = 'episode_{{ id }}';
    window.podcastId = "{{ podcast.id }}";
    window.podcastTitle = "{{ podcast.title }}";
    window.podcastImageURL = "{{ podcast.imageURL }}";
    window.episodeId = "{{ id }}";
    window.episodeTitle = "{{ title }}";
    window.episodeMediaURL = "{{ mediaURL }}";
    window.episodePubDate = "{{ pubDate }}";
    window.episodeImageURL = "{{ imageURL }}";
    window.startTime = 0;
    window.endTime = null;
    window.isEpisode = true;

    // TODO: is this a security vulnerability?
    window.description = "{{ summary|nl2br }}";
    window.description = decodeEntities(description);

    window.isSubscribed = '{{ isSubscribed }}';
  {% endif %}

</script>
