<script>
  // decodeEntities is a JS alternative to this in jQuery:
  // window.description = $('<textarea />').html(description).text();
  var decodeEntities = (function() {
    // this prevents any overhead from creating the object each time
    var element = document.createElement('div');

    function decodeHTMLEntities (str) {
      if(str && typeof str === 'string') {
        // strip script/html tags
        str = str.replace(/<script[^>]*>([\S\s]*?)<\/script>/gmi, '');
        str = str.replace(/<\/?\w(?:[^"'>]|"[^"]*"|'[^']*')*>/gmi, '');
        element.innerHTML = str;
        str = element.textContent;
        element.textContent = '';
      }

      return str;
    }

    return decodeHTMLEntities;
  })();

  window.setPlaylistItemPropsOnWindow = function (item) {

    // Parse the selected playlist item and set its window variables
    window.startTime = item.startTime;
    window.endTime = item.endTime;
    window.ownerName = item.ownerName;
    window.podcastFeedURL = item.podcastFeedURL;
    window.podcastTitle = item.podcastTitle;
    window.podcastImageURL = item.podcastImageURL;
    window.episodeMediaURL = item.episodeMediaURL;
    window.episodeTitle = item.episodeTitle;
    window.episodePubDate = item.episodePubDate;
    window.episodeImageURL = item.episodeImageURL;
    window.episodeDuration = item.episodeDuration;

    // if item is an Episode
    if (window.startTime === 0 && window.endTime === null) {
      window.isEpisode = true;
      window.description = decodeEntities(item.episodeSummary);
      window.mediaRefId = 'episode_' + item.episodeMediaURL;
    } else {
      window.isEpisode = false;
      window.description = decodeEntities(item.title);
      window.mediaRefId = item.id;
    }

    window.episodeSummary = decodeEntities(item.episodeSummary);

    window.episodeTitle = decodeEntities(episodeTitle);

    document.getElementById('player').setAttribute('data-id', window.mediaRefId);

    window.isSubscribed = item.isSubscribed;

    // TODO: is this a security vulnerability?
    window.description = decodeEntities(description);
  }

  window.isPlayerPage = true;
  window.isEmptyPlaylist = false;
  window.isPlaylist = false;
  window.previousEpisodeMediaURL = null;

  // If a mediaRefs object exists, then set window variables for the playlist page
  {% if mediaRefs|isPlaylist %}
    window.isPlaylist = true;

    {% if mediaRefs|length %}

      window.mediaRefs = {{ mediaRefs|stringify|safe }};

      var item = mediaRefs[mediaRefs.length - 1];
      window.nowPlayingPlaylistItemIndex = 0;

      setPlaylistItemPropsOnWindow(item);
    {% else %}
      window.isEmptyPlaylist = true;
      window.isEpisode = false;
    {% endif %}

  // If there's a podcast property, then set the window vars for the episode page.
  {% elif podcast %}
    window.mediaRefId = 'episode_{{ mediaURL }}';
    window.podcastFeedURL = "{{ podcast.feedURL }}"
    window.podcastTitle = "{{ podcast.title | stripTags }}";
    window.podcastImageURL = "{{ podcast.imageURL }}";
    window.episodeTitle = "{{ title }}";
    window.episodeMediaURL = "{{ mediaURL }}";
    window.episodePubDate = "{{ pubDate }}";
    window.episodeImageURL = "{{ imageURL }}";
    window.episodeDuration = "{{ duration }}"
    window.startTime = 0;
    window.endTime = null;
    window.isEpisode = true;

    // TODO: is this a security vulnerability?
    window.description = "{{ summary|nl2br }}";
    window.description = decodeEntities(description);

    window.episodeSummary = "{{ summary|nl2br }}";
    window.episodeSummary = decodeEntities(episodeSummary);

    window.episodeTitle = decodeEntities(episodeTitle);

    window.isSubscribed = '{{ isSubscribed }}';

  // Else set the window vars for a clip page.
  {% else %}
    window.mediaRefId = "{{ id }}";
    window.podcastFeedURL = "{{ podcastFeedURL }}";
    window.podcastTitle = "{{ podcastTitle }}";
    window.podcastImageURL = "{{ podcastImageURL }}";
    window.episodeTitle = "{{ episodeTitle }}";
    window.episodeMediaURL = "{{ episodeMediaURL }}";
    window.episodePubDate = "{{ episodePubDate }}";
    window.episodeImageURL = "{{ episodeImageURL }}";
    window.episodeDuration = "{{ episodeDuration }}";
    window.startTime = "{{ startTime }}";
    window.endTime = "{{ endTime }}";
    window.isEpisode = false;

    window.episodeSummary = "{{ episodeSummary|nl2br }}";
    window.episodeSummary = decodeEntities(episodeSummary);

    // TODO: is this a security vulnerability?
    window.description = "{{ title|nl2br }}";
    window.description = decodeEntities(description);

    window.episodeTitle = decodeEntities(episodeTitle);

    window.isSubscribed = '{{ isSubscribed }}';


  {% endif %}

  // Avoid sending empty strings to Postgres for integer fields
  if (window.episodeDuration === "") {
    window.episodeDuration = null;
  }

</script>
