<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="shareModalTitle" class="form-control-label">Copy Link To:</label>
            <input type="text" class="form-control" id="shareModalTitle" placeholder="title">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
