<div class="modal fade" id="supportModal" tabindex="-1" role="dialog" aria-labelledby="supportModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <form>
          <div class="form-group">
            <label for="supportModalTitle" class="form-control-label">Support This Podcast</label>
            <input type="text" class="form-control" id="supportModalTitle" placeholder="title">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
