@use '../../mixins/lineClamp' as *;

.link {
	text-decoration: none;
	color: inherit;
	display: block;
}

.gridNode {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	border-radius: var(--border-radius);

	&:hover,
	&:focus-within {
		background: var(--background-color-opaque);
	}
}

.image {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: var(--border-radius);
	margin-bottom: 0.5rem;
}

.title {
  font-weight: var(--font-weight-light);
	margin: 0;
  @include line-clamp(2);
}

.channelTitle {
  @include line-clamp(1);
  font-weight: var(--font-weight-light);
	font-size: var(--font-size-sm);
  margin: 0.375rem 0 0 0;
	color: var(--text-color-secondary);
}

.lastPubDate {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-light);
	color: var(--text-color-link);
	margin-top: 0.375rem;
}
