@use "breakpoints";

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.listTracks {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.grid {
  display: grid;
}

@media (min-width: breakpoints.$breakpoint-xs-min) and (max-width: breakpoints.$breakpoint-xs-max) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--spacing-lg);
  }
}

@media (min-width: breakpoints.$breakpoint-sm-min) and (max-width: breakpoints.$breakpoint-sm-max) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-lg);
  }
}

@media (min-width: breakpoints.$breakpoint-md-min) and (max-width: breakpoints.$breakpoint-md-max) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: var(--spacing-lg);
  }
}

@media (min-width: breakpoints.$breakpoint-lg-min) and (max-width: breakpoints.$breakpoint-lg-max) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--spacing-lg);
  }
}

@media (min-width: breakpoints.$breakpoint-xl-min) and (max-width: breakpoints.$breakpoint-xl-max) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: var(--spacing-lg);
  }
}

@media (min-width: breakpoints.$breakpoint-xxl-min) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: var(--spacing-lg);
  }
}
