.accordionHeader {
  display: flex;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.headerText {
  flex: 1;
}

.headerIcon {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
}

.primary {
  color: var(--text-color-primary);
}

.secondary {
  color: var(--text-color-secondary);
}

.link {
  color: var(--text-color-link);
}

.accordionContent {
  display: flex;
  flex-direction: column;
}

details .headerIcon {
  transform: rotate(0deg);
}

details[open] .headerIcon {
  transform: rotate(90deg);
}