.profile-list-item {
  display: flex;

  a {
    border-radius: $item-border-radius;
    flex: 1;
    margin: 0 -10px;
    padding: 22px 10px 18px 10px;
  
    .name {
      font-size: $text-xl;
      @include line-clamp(4);
    }
  }
}

.profile-list-item + hr {
  margin-bottom: 0;
}

@media (hover: hover) {
  .profile-list-item {
    a {
      &:hover {
        @include themeGen() {
          background-color: getThemeVal('highlighted');
          cursor: pointer;
        }
      }
    }
  }
}