.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: $nav-width;

  @include themeGen() {
    background-color: getThemeVal('backgroundSecondary');
  }

  hr.top {
    margin: 5px 0 16px 0;
  }

  hr.bottom {
    margin: 10px 0 15px 0;
  }
}
