:root {
  --navbar-desktop-height: 62px;
  --header-desktop-height: 80px;
  --header-mobile-height: 114px;
  --main-wrapper-desktop-height: calc(100vh - var(--navbar-desktop-height) - var(--header-desktop-height));
  --main-wrapper-mobile-height: calc(100vh - var(--navbar-desktop-height) - var(--header-mobile-height));
  --navbar-mobile-height: 48px;
  --sidebar-desktop-width: 12rem; // 192px
  --sidebar-mobile-width: 16rem; // 256px
  --button-border-size: 1.5px;
  --media-player-height: 100px;
  --media-player-height-mobile: 90px;
  --media-player-height-top-section: 28px;
  --media-player-height-top-section-negative: -28px;
  --form-max-width: 460px;
}
