:root {
  --font-size-3xs: 0.5rem;    // 8px
  --font-size-2xs: 0.625rem;  // 10px
  --font-size-xs: 0.75rem;   // 12px
  --font-size-sm: 0.875rem;  // 14px
  --font-size-base: 1rem;    // 16px
  --font-size-md: 1.125rem;  // 18px
  --font-size-lg: 1.25rem;   // 20px
  --font-size-xl: 1.5rem;    // 24px
  --font-size-2xl: 2rem;     // 32px
  --font-size-3xl: 2.5rem;   // 40px
}