
.view {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;

  .view__contents {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 0;
    justify-content: space-between;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .top {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      padding-top: 1.75rem;
    }

    .bottom {
      flex: 0 0 auto;
    }
  }
}

html[data-theme=light] {
  .view {
    .view__contents {
      .top, .bottom {
        background-color: $white;
        border-left: 1px solid $gray-lightest;
        border-right: 1px solid $gray-lightest;

        @media(max-width: 860px) {
          border: none;
        }
      }
    }
  }
}

html[data-theme=dark] {
  .view {
    .view__contents {
      .top, .bottom {
        background-color: $black;
        border-left: 1px solid $gray-darkest;
        border-right: 1px solid $gray-darkest;

        @media(max-width: 860px) {
          border: none;
        }
      }
    }
  }
}

