.page-loading-overlay {
  align-items: center;
  bottom: 0;
  display: none;
  flex-direction: column;
  font-size: 2.75rem;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: -52px;
  z-index: 2147483647;

  p {
    margin: 1rem 0;
  }

  &.show {
    display: flex;
  }

  &.allow-pointer-events {
    pointer-events: all;
    z-index: 0;
  }
  
  svg {
    flex: 0 0 auto;
    height: 48px;
    width: 48px;
  }
}

html[data-theme=light] {
  .page-loading-overlay {
    color: $gray-light;
  }
}

html[data-theme=dark] {
  .page-loading-overlay {
    color: $gray-dark;
  }
}