.header {
  background-color: var(--background-color-secondary);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.headerContent {
  display: flex;
  align-items: center;
  height: var(--header-desktop-height);
  justify-content: space-between;
  flex: 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}
