@use '../../mixins/lineClamp' as *;
@use "breakpoints";

.header {
  background-color: var(--background-color-secondary);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.header h1 {
  @include line-clamp(1);
}

.headerContent {
  display: flex;
  align-items: center;
  height: var(--header-desktop-height);
  justify-content: space-between;
  flex: 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
}

@media (max-width: breakpoints.$breakpoint-md-max) {
  .headerContent {
    height: var(--header-mobile-height);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 0.75rem;
  }

  .buttons {
    margin-left: 0;
    margin-bottom: 0.25rem;
  }
}