.form {
  margin-top: var(--spacing-2xl);
}

.boostAmountInputs {
  max-width: 300px;
}

.moreInfo {
  margin-top: var(--spacing-2xl);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-2xl);
}