.table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: separate;
  border: 1px solid var(--border-color-tertiary);
}

.headerRow th {
  border-right: 1px solid var(--border-color-tertiary);
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
}

.headerRow th:first-child {
  text-align: left;
}

.headerRow th:last-child {
  border-right: none;
}
