@use "breakpoints";

.contentDesktop {
  display: flex;
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.textSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: var(--spacing-xs) var(--spacing-2xl) var(--spacing-sm) var(--spacing-2xl);
  gap: var(--spacing-lg);
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-light);
}

@media (max-width: breakpoints.$breakpoint-md-max) {
  .contentDesktop {
    display: none;
  }
}
