.buttons {
  margin-top: 0.875rem;
  display: flex;
  gap: 1.125rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGold {
  color: var(--button-highlight-bg) !important;
}

.buttonGold:hover, .buttonGold:focus {
  color: var(--button-highlight-bg) !important;
}
