.buttons {
  margin-top: 0.875rem;
}

.button {
  margin-right: 1.125rem;
}

.buttonGold {
  margin-right: 1.125rem;
  color: var(--button-highlight-bg) !important;
}

.buttonGold:hover, .buttonGold:focus {
  color: var(--button-highlight-bg) !important;
}
