{% extends "layout.html" %} {% block body %}
<div class="row">
  <div class="col-xs-12">
      <h4>Contact</h4>
      <p><a href="https://goo.gl/forms/VGVJRWlKPIGRqojY2">Contact Form</a></p>
      <div id="about-social-icons">
        <a href="mailto:contact@podverse.fm" title="contact@podverse.fm"><i class="fa fa-envelope-o"></i></a>
        <a href="https://www.facebook.com/podverse"><i class="fa fa-facebook-official"></i></a>
        <a href="https://www.twitter.com/podverse"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/podverse"><i class="fa fa-github"></i></a>
      </div>
  </div>
  <!-- col-xs-12 -->
</div>
<!-- /.row -->
{% endblock %} {% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/about/index.js"></script> {% endblock %}