.playButtonLarge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-secondary-color);
  background: var(--button-opaque-bg);
  border: var(--button-border-size) solid var(--border-color-primary);
  border-radius: var(--border-radius-round);
  height: var(--large-item-size) !important;
  width: var(--large-item-size) !important;
  font-size: var(--font-size-lg);
  padding-left: 1px; // Keep 1px for visual centering of play icon
}
