.clip-info {
  margin: 24px 0 0 0;
  
  .episode-title {
    font-size: $text-xxl;
    margin: 0 0 9px 0;
  }

  .episode-pub-date {
    font-weight: $font-weight-bold;
    margin: 0 0 16px 0;

    @include themeGen() {
      color: getThemeVal('textTertiary');
    }
  }

  .clip-title {
    font-size: $text-xxl;
    margin: 32px 0 16px 0;
  }

  .media-item-controls {
    margin-bottom: 24px;
  }
}

@media (max-width: $media-max-width-tablet) {
  .clip-info {
    margin-top: 22px;
  }
}

@media (hover: hover) {
  .clip-info {
    .episode-title {
      [href] {
        &:hover {
          @include themeGen() {
            color: getThemeVal('textSecondary');
          }
        }
      }
    }
  }
}
