@use '../../../mixins/lineClamp' as *;
@use '../../../mixins/timeText' as *;
@use '../../../mixins/listRow' as *;
@use 'breakpoints';

.row {
  display: flex;
  margin-bottom: 1.5rem;
}

.image {
  object-fit: cover;
}

.imageMobile {
  display: none;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1.25rem;
  flex: 1;
  justify-content: space-around;
}

.topSection {
  display: flex;
  flex-direction: column;
  color: var(--text-color-secondary);
  gap: 0.375rem;
}

.clipTitle {
  @include line-clamp(3);
}

.subtitle {
  @include line-clamp(1);
  color: var(--text-color-secondary);
  font-weight: var(--font-weight-light);
}

.bottomSection {
  display: flex;
  flex: 0;
  margin-top: 0.5rem;
}

.bottomSectionStart {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
}

.timeSection {
  display: flex;
  @include time-text-row();
}

.bottomSectionEnd {
  display: flex;
  align-items: center;
}

.editingButtons {
  @include editingButtons();
}

@media (max-width: breakpoints.$breakpoint-sm-max) {
  .image {
    display: none;
  }
  .imageMobile {
    display: block;
  }
}
