.side-content-section {
  
  .side-content-header {
    display: flex;
    margin-bottom: 8px;

    .side-content-header-caret {
      display: none;
    }
  }
  
  .side-content-contents {
    font-size: $text-sm;
    line-height: 19px;

    @include themeGen() {
      color: getThemeVal('textSecondary');
    }
  }

  a {
    @include themeGen() {
      color: getThemeVal('textLink');
    }
  }

  hr {
    display: none;
  }
}

@media (max-width: $media-max-width-tablet-xl) {
  .side-content-section {
    .side-content-header {
      cursor: pointer;

      .side-content-header-caret {
        align-items: center;
        display: flex;
        font-size: $text-xl;
        margin-left: 14px;
      }
    }

    .side-content-contents {
      font-size: $text-md;
      margin-bottom: 20px;
    }

    hr {
      display: block;
      margin: 16px 0;
    }
  }
}
