{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-xs-12">
    <h1>About</h1>
    <p>Podverse lets you create highlights and playlists of your favorite podcasts and share them anywhere online.</p>
    <p>No login necessary :)</p>
    <p>Free and open source code</p>
    <p>Podverse will never add sponsors/ads to a podcaster's pages, except at the podcaster's request.</p>
    <p><a href="mailto:contact@podverse.fm">contact@podverse.fm</a> (doesn't exist yet)</p>
  </div><!-- /.col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 -->
</div><!-- /.row -->
{% endblock %}
