{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-xs-12">
    <h1>Home</h1>
    <p>We could load the last 20 created/updated clips or playlists here, with pagination next/prev buttons.</p>
    <p>This makes me think though...there are clips or playlists that I make for sharing with one or a few people in mind, that I wouldn't want showing up in an aggregated page like this.</p>
    <p>Maybe we ask the user if they want their clip or playlist to be "Public" or "Only with a Link" at the time they create it. Could be a dropdown icon of a globe when "Public", and a chain when "Only with a Link".
  </div><!-- /.col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 -->
</div><!-- /.row -->

{% endblock %}
