{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
    <div class="clip-info">
      <h3>Often relegated to the role of slavish cannon fodder for Sparta’s spears, the Achaemenid Persian empire had a glorious heritage. Under a single king they created the greatest empire the world had ever seen.</h3>
      <p>
        <span class="clip-info-time"><b>Clip:</b> 2m 34s – 50:20 to 52:54</span>
        <span class="clip-info-stats">Listens: 1234</span>
      </p>
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
    <div id="player"></div>
  <hr>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
    <div class="podcast-info">
      <img src="http://www.dancarlin.com/graphics/DC_HH_iTunes.jpg"></img>
      <div class="podcast-info-text">
        <h4>Dan Carlin's Hardcore History Dan Carlin's Hardcore History</h4>
        <h5>King of Kings King of Kings King of Kings King of Kings King of Kings King of Kings</h5>
        <p>Wed, 28 Oct 2015</p>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>

{% endblock %}
