{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
    <div class="clip-info">
      <h3>{{ podcast.episode.clip.title }}</h3>
      <p>
        <!-- TODO: convert duration into a human readable #h ##m ##s format,
        like: 3m 25s. Currently total seconds is displayed as the duration. -->
        <span class="clip-info-time">
          <b>Clip:</b> {{ podcast.episode.clip.duration }}s
          – {{ podcast.episode.clip.startTime }}
          to {{ podcast.episode.clip.endTime }}
        </span>
        <span class="clip-info-stats">Listens: 12345</span>
      </p>
      <div style="clear:both"></div>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
    <div id="player"></div>
    <p id="restart-clip" class="text-primary">Restart Clip</p>
  <hr>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
    <div class="podcast-info">
      <!-- TODO: some podcasts do not have an imageURL. In those cases we'll
      need to add logic to serve an itunesImageURL instead. -->
      <img src="{{ podcast.imageURL }}"></img>
      <div class="podcast-info-text">
        <h4>{{ podcast.title }}</h4>
        <h5>{{ podcast.episode.title }}</h5>
        <p>{{ podcast.episode.pubDate }}</p>
      </div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>

{% endblock %}
