<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <title>Podverse</title>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    {% include "player-scripts.html" %}
    {% include "meta-tags.html" %}

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/mediaelement/build/mediaelementplayer.css" />
    <link rel="stylesheet" href="/libs/css/style.css">

  </head>
  <body>
    <div id="keep-footer-on-bottom">
      <nav class="navbar navbar-fixed-top">
        <div style="max-width: 610px; margin: auto;">
          <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            &#9776;
          </button>
          <a class="navbar-brand" href="/">Podverse</a>
          <div class="clearfix"></div>
          <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
            <ul class="nav navbar-nav">
              <hr>
              <!-- TODO: add active class to currently selected nav-items -->
              <!-- TODO: add screenreader-only (sr-only) element to currently
              selected nav-items <span class="sr-only">(current)</span> -->
              <!-- TODO: add a clip or playlist through the web app
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Add</a>
              </li>-->
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Mobile App</a>
              </li>
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/about">About</a>
              </li>
              <!-- TODO: add a browsable playlists page
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Playlists</a>
              </li>-->
              <!-- TODO: add a browsable clips page
              <li class="nav-item pull-xs-right">
                <a class="nav-link" href="/mobile-app">Clips</a>
              </li>-->
            </ul>
          </div>
        </div>
      </nav>




      <div class="container padding-for-footer">
        {% block body %}{% endblock %}
      </div>

      <footer class="footer">
        <div style="max-width: 610px; margin: auto;">
          <span class="pull-right">
            <a class="footer-social-icon" href="https://reddit.com/r/podverse"><i class="fa fa-reddit-alien"></i></a>
            <a class="footer-social-icon" href="#"><i class="fa fa-facebook"></i></a>
            <a class="footer-social-icon" href="https://twitter.com/podverse"><i class="fa fa-twitter"></i></a>
            <a class="footer-social-icon" href="https://github.com/podverse"><i class="fa fa-github"></i></a>
          </span>
          <span class="pull-left footer-brand">
            <a href="/">Podverse&#8482;</a>
          </span>
        </div>
      </footer>
    </div>

    <script src="/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/mediaelement/build/mediaelement-and-player.min.js"></script>
    <script src="/libs/js/scripts.js"></script>
  </body>
</html>
