{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-xs-12">
    <h1>Mobile App</h1>
    <p>Podverse lets you create highlights and playlists of your favorite podcasts and share them anywhere online.</p>
    <p>For iOS: <strike>Download the free Podverse mobile app to create and share clips and playlists.</strike> The iOS app is currently only available for testers. Please email contact@podverse.fm if you're interested in testing.</p>
    <p>For Android: Sorry, we don't support Android yet. <strike>You can still create clips and playlists by visiting podverse.fm in your Android web browser.</strike> If you'd like an Android Podverse mobile app, let us know!</p>
    <p>For everyone else: <strike>You can create clips and playlists by visiting podverse.fm in one of our supported web browsers and clicking the Clip or Playlist button.</strike></p>
  </div><!-- /.col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 -->
</div><!-- /.row -->
{% endblock %}
