{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">

    <div id="player-container">
      <div id="player-inner">
        <div id="player-image">
          <img><!-- insert content in libs/js/scripts.js -->
        </div>
        <div id="player-text-container">
          <div id="player-condensed-title">
            <!-- insert content in libs/js/scripts.js -->
          </div>
          <div id="player-podcast-title">
            <!-- insert content in libs/js/scripts.js -->
          </div>
          <div id="player-sub-title">
            <!-- insert content in libs/js/scripts.js -->
          </div>
        </div>
        <div style="clear:both"></div>
        <div id="player-title">
          <!-- insert content in libs/js/scripts.js -->
        </div>
        <div id="player">
          <!-- append media player content in libs/js/scripts.js -->
        </div>
        <div id="player-stats">
          <div id="player-stats-duration">
            <!-- insert content in libs/js/scripts.js -->
          </div>
          <div id="player-stats-listens">
            <!-- insert content in libs/js/scripts.js -->
          </div>
          <div style="clear:both;"></div>
        </div>
        <div id="player-functions">
          <div id="player-autoplay" class="text-primary">
            <!-- insert content in libs/js/scripts.js -->
          </div>
          <div id="player-restart-clip" class="text-primary">
            <!-- insert content in libs/js/scripts.js -->
          </div>
          <div style="clear:both;"></div>
        </div>
      </div><!-- /#player-inner -->
    </div><!-- /#player-container -->

    <hr>

    <div id="playlist">
      <div id="playlist-header">
        {{ playlistTitle }}
      </div>
      {% for item in playlistItems %}
        <!-- if item has a startTime, then consider it a clip -->
        {% if item.startTime %}
          <div class="playlist-item">
            <div class="playlist-item-image">
              <img src="{{ item.podcast.imageURL }}">
            </div>
            <div class="playlist-item-text">
              <div class="playlist-item-title">
                {{ item.title }}
              </div>
              <div class="playlist-item-podcast-title">
                {{ item.podcast.title }}
              </div>
              <div class="playlist-item-duration">
                {{ item.duration|convertSecToHHMMSS }}
              </div>
              <div class="playlist-item-sub-title">
                {{ item.episode.title }}
              </div>
            </div><!-- /.playlist-item-text -->
            <div style="clear:both"></div>
          </div><!-- /.playlist-item -->
        {% else %}
          <div class="playlist-item">
            <div class="playlist-item-image">
              <img src="{{ item.podcast.imageURL }}">
            </div>
            <div class="playlist-item-text">
              <div class="playlist-item-title">
                {{ item.title }}
              </div>
              <div class="playlist-item-podcast-title">
                {{ item.podcast.title }}
              </div>
              <div class="playlist-item-duration">
                {{ item.duration|convertSecToHHMMSS }}
              </div>
              <div class="playlist-item-sub-title">
                Full Episode - {{ item.pubDate|readableDate }}
              </div>
            </div><!-- /.playlist-item-text -->
            <div style="clear:both"></div>
          </div><!-- /.playlist-item -->
        {% endif %}
        <hr>
      {% endfor %}
    </div><!-- /#playlist -->

  </div><!-- /.col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 -->
</div><!-- /.row -->
{% endblock %}
