<script>
  window.urlHashIndexValue = window.location.hash.substr(1) - 1;

  // TODO: I think playing playlist items in the template would work if we can
  // use the playlistItems object in the scripts.js file
  {% if playlistItems %}
    window.playlistItems = {{ playlistItems|stringify|safe }};

    var item;
    if (urlHashIndexValue > 0) {
      item = playlistItems[urlHashIndexValue];
    } else {
      item = playlistItems[0];
    }

    // Only clips have a startTime and endTime
    window.startTime = item.startTime;
    window.endTime = item.endTime;
    window.isClip = typeof window.startTime !== "undefined" ? true : false;

    if (window.isClip === true) {
      window.clipTitle = item.title;
      window.duration = item.duration;
      window.podcastTitle = item.podcast.title;
      window.podcastImageURL = item.podcast.imageURL;
      window.episodeTitle = item.episode.title;
      window.episodeMediaURL = item.episode.mediaURL;
      window.episodePubDate = item.episode.pubDate;
    } else { // handle item as episode
      window.clipTitle = "";
      window.duration = item.duration;
      window.podcastTitle = item.podcast.title;
      window.podcastImageURL = item.podcast.imageURL;
      window.episodeTitle = item.title;
      window.episodeMediaURL = item.mediaURL;
      window.episodePubDate = item.pubDate;

      window.startTime = "0";
      window.endTime = item.duration;
    }
  {% elif podcast.title %}
    window.podcastTitle = "{{ podcast.title }}";
    window.podcastImageURL = "{{ podcast.imageURL }}";
    window.episodeTitle = "{{ episode.title }}";
    window.episodeMediaURL = "{{ episode.mediaURL }}";
    window.episodePubDate = "{{ episode.pubDate }}";

    window.clipTitle = "{{ clip.title }}";
    window.startTime = "{{ clip.startTime }}";
    window.endTime = "{{ clip.endTime }}";
    window.duration = "{{ clip.duration }}"
    // If a clip.startTime is provided, handle item as a clip
    window.isClip = window.startTime !== "" ? true : false;
  {% endif %}
</script>
