{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 col-xs-12">

    <div id="player-container">
      <div id="player-image">
        <img><!-- insert content in libs/js/scripts.js -->
      </div>
      <div id="player-text-container">
        <div id="player-podcast-title">
          <!-- insert content in libs/js/scripts.js -->
        </div>
        <div id="player-sub-title">
          <!-- insert content in libs/js/scripts.js -->
        </div>
      </div>
      <div id="player-title">
        <!-- insert content in libs/js/scripts.js -->
      </div>
      <div id="player">
        <!-- append media player content in libs/js/scripts.js -->
      </div>
      <div id="player-stats">
        <div id="player-stats-duration">
          <!-- insert content in libs/js/scripts.js -->
        </div>
        <div id="player-stats-listens">
          <!-- insert content in libs/js/scripts.js -->
        </div>
        <div style="clear:both;"></div>
      </div>
      <div id="player-restart-clip" class="text-primary">
        <!-- insert content in libs/js/scripts.js -->
      </div>

    </div><!-- /#player-container -->

    <hr>

    <div id="playlist">
      <div id="playlist-header">
        {{ playlistTitle }}
      </div>
      {% for item in playlistItems %}
        <!-- if item has a startTime, then consider it a clip -->
        {% if item.startTime %}
          <div class="playlist-item">
            <div class="playlist-item-image">
              <img src="{{ item.podcast.imageURL }}">
            </div>
            <div class="playlist-item-text">
              <div class="playlist-item-title">
                {{ item.title }}
              </div>
              <div class="playlist-item-podcast-title">
                {{ item.podcast.title }}
              </div>
              <div class="playlist-item-duration">
                {{ item.duration }}
              </div>
              <div class="playlist-item-sub-title">
                {{ item.episode.title }}
              </div>
            </div><!-- /.playlist-item-text -->
          </div><!-- /.playlist-item -->
        {% else %}
          <div class="playlist-item">
            <div class="playlist-item-image">
              <img src="{{ item.podcast.imageURL }}">
            </div>
            <div class="playlist-item-text">
              <div class="playlist-item-title">
                {{ item.title }}
              </div>
              <div class="playlist-item-podcast-title">
                {{ item.podcast.title }}
              </div>
              <div class="playlist-item-duration">
                {{ item.duration }}
              </div>
              <div class="playlist-item-sub-title">
                Full Episode - {{ item.pubDate }}
              </div>
            </div><!-- /.playlist-item-text -->
          </div><!-- /.playlist-item -->
        {% endif %}
      {% endfor %}
    </div><!-- /#playlist -->

  </div><!-- /.col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 -->
</div><!-- /.row -->

<script>
    window.podcastTitle = "{{ podcast.title }}";
    window.podcastImageURL = "{{ podcast.imageURL }}";
    window.episodeTitle = "{{ episode.title }}";
    window.episodeMediaURL = "{{ episode.mediaURL }}";
    window.episodePubDate = "{{ episode.pubDate }}";

    window.clipTitle = "{{ clip.title }}";
    window.clipStartTime = "{{ clip.startTime }}";
    window.clipEndTime = "{{ clip.endTime }}";
    window.clipDuration = "{{ clip.duration }}"
    // If a clip.startTime is provided, handle item as a clip
    window.isClip = window.startTime !== "" ? true : false;
</script>

{% endblock %}
