@use 'breakpoints';

.divider {
  border-bottom: 0;
  border-width: 1px;
  width: 100%;
  border-color: var(--border-color-opaque);
  margin: var(--spacing-md) var(--spacing-none);
}

@media (max-width: breakpoints.$breakpoint-sm-max) {
  .divider:first-child {
    display: none;
  }
}
