@use 'breakpoints';
@use '../../mixins/media-queries' as *;

.link {
  color: var(--text-color-primary);
  text-decoration: none !important;
  padding: var(--spacing-base);
  margin: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
}

.link:hover {
  background: var(--background-color-opaque);
  text-decoration: none;
}

@include mobile(md-max) {
  .link {
    justify-content: center;
  }
}