.link {
  color: var(--text-color-primary);
  text-decoration: none;
  padding: 0.75rem;
  margin: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
}

.link:hover {
  background: var(--background-color-opaque);
}
