.brand {
  display: flex;
  align-items: center;
  padding: var(--spacing-base) var(--spacing-lg);
  margin: var(--spacing-md) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
}
