.sidebar {
  width: 12rem;
  height: 100vh;
  background: var(--background-color-tertiary);
  color: var(--text-color-primary);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.stickyTop {
  position: sticky;
  top: 0;
  z-index: 1;
  background: inherit;
}

.scrollable {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}