.comments {
  .comment {
    .inner-wrapper {
      border-bottom: 1px dashed;
      display: block;
      padding: 22px 0 24px 0;
  
      @include themeGen() {
        border-color: getThemeVal("divider");
      }
  
      .username {
        font-size: $text-sm;

        @include themeGen() {
          color: getThemeVal("textTertiary");
        }
      }
    
      .content {
        font-weight: $font-weight-light;
        margin-top: 8px;
      }

      .published {
        font-size: $text-sm;
        margin-top: 8px;
        @include themeGen() {
          color: getThemeVal("textSecondary");
        }
      }
  
      .image-wrapper {
        margin-top: 16px;
      }
    }

    .replies {
      padding-left: 12px;
    }
  }
}

.main-content-contents > .comment {
  > .inner-wrapper {
    padding-top: 0;    
  }

  > .replies .comment:last-child .inner-wrapper {
    border-color: transparent;
    padding-bottom: 0;
  }
}


