.mediaPlayerProgress {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
}

.mediaPlayerProgressTime {
  color: var(--text-color-primary);
  font-size: var(--font-size-xs);
  min-width: 40px;
  text-align: right;
}

.mediaPlayerProgressDuration {
  color: var(--text-color-primary);
  font-size: var(--font-size-xs);
  min-width: 40px;
  text-align: left;
}

.mediaPlayerProgressSlider {
  flex: 1;
  height: 1rem;
  appearance: none;
  border-radius: var(--border-radius-round);
  outline: none;
  margin: 0 8px;
  border: none;
}

// Hide the thumb for all browsers
.mediaPlayerProgressSlider::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.mediaPlayerProgressSlider::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.mediaPlayerProgressSlider::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}