.page-scrollable-content {
  display: flex;
  flex: 1;
  overflow: scroll;
  position: relative;

  .inner-content {
    display: flex;
    flex-direction: column;
    margin: 0 28px 35px 28px;
  }
}
