.page-scrollable-content {
  display: flex;
  flex: 1;
  overflow: scroll;
  position: relative;

  .inner-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 35px 28px;
  }
}

@media (max-width: $media-max-width-tablet) {
  .page-scrollable-content {
    .inner-content {
      margin: 16px;
    }
  }
}
