.podcast-list-item {
  display: flex;
  padding: 24px 0;

  &:first-child {
    padding: 0 0 24px 0;
  }

  .pv-image {
    margin: 0 16px 0 0;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .last-episode-pub-date {
      font-size: $text-sm;
      font-weight: $font-weight-medium;

      @include themeGen() {
        color: getThemeVal('textTertiary');
      }
    }

    .title {
      font-size: $text-xl;
      font-weight: $font-weight-light;
      margin: 4px 0 0 0;
    }
  }
}
