.podcast-list-item {
  border-bottom: 1px solid;
  @include themeGen() {
    border-color: getThemeVal('divider');
  }

  &:last-child {
    border-bottom: 0;
  }

  a {
    border-radius: $item-border-radius;
    display: flex;
    padding: 22px 10px 18px 10px;
    margin: 0 -10px;

    .pv-image {
      border-radius: $item-border-radius;
      margin: 0 16px 0 0;
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .last-episode-pub-date {
        font-size: $text-sm;
        font-weight: $font-weight-medium;

        @include themeGen() {
          color: getThemeVal('textTertiary');
        }
      }

      .title {
        font-size: $text-xl;
        font-weight: $font-weight-light;
        margin: 4px 0 0 0;

        @include line-clamp(4);
      }
    }

    .live-status-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-left: 16px;
    }
  }
}

@media (hover: hover) {
  .podcast-list-item {
    a {
      &:hover {
        @include themeGen() {
          background-color: getThemeVal('highlighted');
        }
      }
    }
  }
}
