/* These are the styles applied to podverse.fm */

:root {
  --lnurl-background-color: #030626;
  --lnurl-text: #fff;
  --lnurl-font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  --lnurl-max-width: 500px;
  --lnurl-loader-border-color: #ccc;
  --lnurl-loader-border-color-2: #333;
  --lnurl-link-color: -webkit-link;
  --lnurl-link-color-active: -webkit-link;
  --lnurl-link-color-visited: -webkit-link;
  --lnurl-link-color-hover: -webkit-link;
  --lnurl-text-input-background-color: #0f1235;
  --lnurl-input-border: #444;
  --lnurl-input-placeholder: #ccc;
  --lnurl-button-border-radius: 36px;
  --lnurl-button-font-size: 14px;
  --lnurl-button-height: 36px;
  --lnurl-button-min-width: 120px;
  --lnurl-button-margin-left: 16px;
  --lnurl-button-padding-v: 4px;
  --lnurl-button-padding-h: 8px;
  --lnurl-button-primary-background-color: #3d9dfe;
  --lnurl-button-primary-text-color: #000;
  --lnurl-button-primary-background-color-hover: #49a4ff;
  --lnurl-button-secondary-background-color: #252a64;
  --lnurl-button-secondary-text-color: #fff;
  --lnurl-button-secondary-background-color-hover: #34397b;
  --lnurl-button-focus-box-shadow: 0 0 0 4px rgb(0 116 217 / 40%);
  --lnurl-button-focus-ouline-color: rgb(0 116 217 / 40%);
  --lnurl-button-disabled-background-color: #777;
  --lnurl-button-disabled-color: #eee;
  --lnurl-table-border-color: #444;
}
