.search-page-input {
  padding: 24px 0 18px 0;

  @include themeGen() {
    background-color: getThemeVal('backgroundTertiary');
  }

  .text-input {
    margin: 0;
    max-width: 790px;
    padding: 0;

    .icon-wrapper {
      svg {
        height: unset;
        width: 27px;
      }
    }

    .helper-text {
      margin-top: 12px;
    }
  }
}
