.player-full-view {
  align-items: center;
  border-radius: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0 120px;
  position: fixed;
  pointer-events: none;
  right: 0;
  top: 0;
  z-index: 1;

  &.is-showing {
    pointer-events: all;

    @include blurredBackground();

    .video-player-wrapper {
      position: unset;
      bottom: unset;
      right: unset;
      z-index: unset;
    }
  }

  .button-close {
    position: absolute;
    top: 28px;
    right: 64px;
    z-index: 1;
  }

  .image-wrapper {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 90px 0 30px 0;
    position: relative;

    img {
      border-radius: $item-border-radius;
    }

    &.has-clip-info {
      margin-bottom: 0;
      margin-top: 16px;
    }

    .clip-info-wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 72px;
      max-width: 740px;
      margin-top: 16px;

      .clip-title {
        font-size: $text-xl;
        line-height: 23px;
        margin-bottom: 6px;
        text-align: center;

        @include line-clamp(2);
      }
      .clip-time {
        font-size: $text-sm;

        @include themeGen() {
          color: getThemeVal('textTertiary');
        }
      }
    }
  }

  .title-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: $text-xxxl;
    }

    a {
      display: inline-block;
      @include line-clamp(2);
    }

    .subtitle {
      font-size: $text-xl;
      font-weight: $font-weight-bold;
      margin-top: 3px;
      @include line-clamp(1);

      @include themeGen() {
        color: getThemeVal('textQuaternary');
      }
    }

    // Target the first dropdown wrapper
    > div:nth-child(3) {
      padding: 4px 0;
      margin: 4px 0 0 0;
    }

    // Target the second dropdown wrapper
    > div:nth-child(4) {
      margin-top: -4px;
      padding: 4px 0;
    }
  }

  .player-item-info-container {
    flex: 0 0 33%;
  }

  .player-buttons-container {
    flex: 0 0 33%;
  }

  .player-buttons-wrapper {
    align-self: stretch;

    .player-bar-container {
      margin: 43px 0 28px 0;
      width: 100%;

      .player-bar-label {
        min-width: 30px;

        &:first-child {
          text-align: left;
        }
      }
    }

    .player-progress-container {
      flex-direction: row;
      justify-content: center;
    }

    .progress-button-container {
      flex: 0 0 34%;

      .bottom-row {
        display: none;
      }
    }
  }
}

@media (min-width: $media-min-width-tablet) {
  .player-full-view {
    &.is-showing {
      .video-player-wrapper {
        height: 225px !important;
        margin-top: -40px;
        width: 400px !important;

        video {
          height: 225px !important;
          width: 400px !important;
        }
      }
    }
  }
}

@media (min-width: $media-min-width-tablet-xl) {
  .player-full-view {
    &.is-showing {
      .video-player-wrapper {
        height: 360px !important;
        margin-top: -60px;
        width: 640px !important;

        video {
          height: 360px !important;
          width: 640px !important;
        }
      }
    }
  }
}

@media (max-width: $media-max-width-tablet-xl) {
  .player-full-view {
    padding: 0 32px;
    .button-close {
      right: 32px;
    }

    .player-progress-container {
      align-items: flex-start;

      > .player-buttons-container {
        .player-control-button-row {
          display: none;
        }
      }
    }

    .progress-button-container {
      display: flex;
      flex-direction: column;

      .bottom-row {
        display: flex !important;
        margin-top: 24px;

        .player-buttons-container {
          display: flex;
          justify-content: center;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: $media-max-width-mobile) {
  .player-full-view {
    padding: 0 16px;

    .button-close {
      position: absolute;
      top: 12px;
      right: 16px;
      z-index: 1;
    }

    .image-wrapper {
      margin-top: 84px;

      &.has-clip-info {
        margin-top: 8px;
      }

      img {
        border-radius: $item-border-radius;
        height: 160px !important;
        width: 160px !important;
        max-height: 160px !important;
        max-width: 160px !important;
      }
      .clip-info-wrapper {
        height: 90px;

        .clip-title {
          font-size: $text-lg;
        }

        .clip-time {
          margin-bottom: 16px;
        }
      }
    }

    .title-wrapper {
      h1 {
        display: flex;
        font-size: $text-xl;
      }

      .subtitle {
        font-size: $text-md;
      }
    }

    .player-buttons-wrapper {
      .player-bar-container {
        margin: 24px 0 28px 0;

        .player-bar {
          margin: 0 8px;
        }
      }

      .progress-button-container {
        .bottom-row {
          margin-top: 16px;
        }
      }
    }
  }
}

@media (max-height: $media-max-height-short) {
  .player-full-view {
    .image-wrapper {
      margin-top: 0;

      img {
        max-height: 220px;
        max-width: 220px;
        height: unset !important;
        width: unset !important;
      }
    }

    .player-buttons-wrapper {
      .player-bar-container {
        margin: 28px 0 18px 0;
      }
    }

    .title-wrapper {
      h1 {
        font-size: $text-xxl;
      }

      .subtitle {
        font-size: $text-xl;
      }
    }
  }
}

@media (max-height: $media-max-height-tiny) {
  .player-full-view {
    .image-wrapper {
      margin-top: 0;

      img {
        max-height: 120px;
        max-width: 120px;
        height: unset !important;
        width: unset !important;
      }
    }

    .player-buttons-wrapper {
      .player-bar-container {
        margin: 16px 0 14px 0;
      }
    }

    .title-wrapper {
      h1 {
        font-size: $text-xl;
      }

      .subtitle {
        font-size: $text-lg;
      }
    }
  }
}
