.player-buttons-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 0 0 28%;

  @include themeGen() {
    color: getThemeVal('textSecondary');
  }

  .player-control-button-row {
    display: flex;
    flex-direction: row;
  }

  .player-control-volume-wrapper {
    align-items: center;
    display: flex;
    margin-left: 20px;
  }
}

@media (max-width: $media-max-width-laptop) {
  .player-buttons-container {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;

    .player-control-button-row {
      padding-right: 40px;
    }
  }
}

@media (max-width: $media-max-width-tablet-xl) {
  .player-buttons-container {
    flex-wrap: wrap-reverse;
    justify-content: flex-end;

    .player-control-button-row {
      padding-right: 0;
    }
  }
}

@media (max-width: $media-max-width-tablet) {
  .player-buttons-container {
    flex-wrap: wrap-reverse;

    .player-control-volume-wrapper {
      display: none;
    }
  }
}
