.player {
  align-items: center;
  background-color: #000;
  display: flex;
  height: 111px;
  justify-content: space-between;
  padding: 0 25px;
}

@media (max-width: $media-max-width-tablet) {
  .player {
    display: none;
  }
}
