@use '../../../mixins/lineClamp' as *;

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.listItem {
  display: flex;
  align-items: flex-start;
  padding: var(--spacing-md);
  margin: var(--spacing-md) var(--spacing-none);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    background: var(--background-color-opaque);
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  color: var(--text-color-primary);
  margin-bottom: 0.375rem;
}

.bio {
  @include line-clamp(2);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
  margin-top: 0;
}
