@use '../../mixins/ellipsis' as *;

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.image {
  margin-right: 1rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0.25rem;
  @include ellipsisSingleLineParent;
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
  @include ellipsisSingleLineChild;
}

.subtitle {
  margin-top: 0.5rem;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--text-color-accent);
  @include ellipsisSingleLineChild;

}
