@use '../../mixins/flexbox' as *;

.overlay {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-desktop-width) / 2);
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 100000;
  @include flexCenter;
  pointer-events: none;
}

.spinnerWrapper {
  @include flexCenter;
}