.overlay {
  position: fixed;
  top: 0;
  left: calc(var(--sidebar-desktop-width) / 2);
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}