{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>Mobile App</h1>
    <p>Podverse lets you create clips and playlists of your favorite podcasts and share them with anyone.</p>
    <p><strong>iOS:</strong> The iOS app is currently available for beta testers.</p>
  </div><!-- col-xs-12 -->
</div><!-- /.row -->
{% endblock %}


{% block scripts %}
<script src="/static/build/vendors.js"></script>
<script src="/static/build/mobile-app/index.js"></script>
{% endblock %}
