
.floatingVideoPortal {
	position: fixed;
	bottom: calc(var(--media-player-height) + 10px);
	right: 10px;
  width: 400px;
	height: 225px;
	z-index: 1000;
	background: var(--background-color-secondary);
	border-radius: var(--border-radius);
	overflow: hidden;
}

.floatingVideoPortal.hasMarquee {
  bottom: calc(var(--media-player-height) + var(--media-player-height-top-section));
}
