@use '../../mixins/flexbox' as *;

.checkbox {
  margin-bottom: var(--spacing-2xl);
  position: relative;
  @include flexColumn;
  flex: 1;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxInput {
  margin-right: var(--spacing-md);
  width: 1.25rem;
  height: 1.25rem;
}

.label {
  font-size: var(--font-size-base);
}
