.inlineForm {
  padding: var(--spacing-container-y);
  margin: var(--spacing-md) var(--spacing-none);
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-default);
}

.inlineFormInfo {
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.inlineFormButtons {
  display: flex;
  gap: var(--spacing-base);
  margin-top: var(--spacing-lg);
  justify-content: flex-end;
}

.inlineFormFieldGroup {
  margin-top: var(--spacing-lg);
}
