.textInput {
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex: 1;
}

.textInputWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  border-radius: var(--border-radius);
  border: var(--button-border-size) solid transparent;
  padding: 0.5rem 1rem;
  background-color: var(--background-color-tertiary);
}

.textInnerInputWrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
}

.eyebrow {
  color: var(--text-color-link);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 0 0 2px;
}

.input {
  all: unset;
  font-size: var(--font-size-md);
  width: 100%;
  padding: 0.25rem 0 0.25rem 0;
}

.textInputInfo {
  margin-top: 0.25em;
  font-size: 0.95em;
  color: #666;
}

.button {
  margin-left: 1rem;
}

.buttonIcon {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.buttonIconStart {
  margin-right: 0.5rem;
}

.buttonIconEnd {
  margin-left: 0.5rem;
}
