.textInput {
  margin-bottom: var(--spacing-2xl);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.textInputWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  border-radius: var(--border-radius);
  border: var(--button-border-size) solid transparent;
  padding: var(--spacing-form-input);
  background-color: var(--background-color-tertiary);
}

.textInnerInputWrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
}

.eyebrow {
  color: var(--text-color-link);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--spacing-form-label-bottom);
}

.input {
  all: unset;
  font-size: var(--font-size-md);
  width: 100%;
  padding: var(--spacing-form-input-inner);
}

.textInputInfo {
  margin: var(--spacing-lg) var(--spacing-lg) var(--spacing-none) var(--spacing-lg);
  font-size: var(--text-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--text-color-secondary);
}

.textInputInfoError {
  margin: var(--spacing-lg) var(--spacing-lg) var(--spacing-none) var(--spacing-lg);
  font-size: var(--text-size-sm);
  font-weight: var(--font-weight-light);
  color: var(--text-color-danger);
}

.button {
  margin-left: var(--spacing-lg);
}

.buttonIcon {
  height: 28px;
  width: 28px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.buttonIconStart {
  margin-right: var(--spacing-md);
}

.buttonIconEnd {
  margin-left: var(--spacing-md);
}
