.textCheckboxes {
  margin-bottom: var(--spacing-2xl);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.eyebrow {
  color: var(--text-color-link);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--spacing-md);
}

.optionsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  margin-right: var(--spacing-md);
  width: 1.25rem;
  height: 1.25rem;
}

.label {
  font-size: var(--font-size-base);
}
