.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  gap: var(--spacing-md);
}

.sideText {
  display: flex;
  flex: 0;
  align-items: center;
  margin: 0 0 var(--spacing-2xl) var(--spacing-md);
}
