@use '../../mixins/form' as *;
@use '../../mixins/flexbox' as *;

.hhmmss {
  margin-bottom: var(--spacing-2xl);
  position: relative;
  display: flex;
  flex: 1;
}

.hhmmssInputWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--border-radius);
  border: var(--button-border-size) solid transparent;
  padding: var(--spacing-form-input);
  background-color: var(--background-color-tertiary);
}

.hhmmssInnerInputWrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
}

.eyebrow {
  color: var(--text-color-link);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--spacing-form-label-bottom);
}

.input {
  all: unset;
  font-size: var(--font-size-md);
  width: 100%;
  padding: var(--spacing-form-input-inner);
}

.buttonWrapper {
  @include flexCenter;
  height: 2rem;
  width: 2rem;
  border-radius: var(--border-radius-round);
}

.playIcon {
  font-size: var(--font-size-lg);
  @include flexCenter;
}
