@use '../../mixins/form' as *;
@use '../../mixins/flexbox' as *;

.wrapper {
  margin-bottom: var(--spacing-2xl);
  position: relative;
  @include flexColumn;
  flex: 1;
}

.textAreaWrapper {
  @include formInputWrapper;
}

.textInnerAreaWrapper {
  @include flexColumn;
  flex: 1 1;
  justify-content: center;
}

.eyebrow {
  color: var(--text-color-link);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--spacing-form-label-bottom);
}

.textArea {
  all: unset;
  font-size: var(--font-size-md);
  width: 100%;
  padding: var(--spacing-md) var(--spacing-none);
  box-sizing: border-box;
  resize: vertical;
}

.textAreaCounter {
  @include flexEnd;
  margin: 0.625rem var(--spacing-lg) var(--spacing-none) var(--spacing-lg);
  font-size: var(--font-size-sm);
}
