.viewSelectorWrapper {
  position: relative;
  display: inline-block;
}

.viewSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-lg);
  cursor: pointer;
  margin-right: var(--spacing-sm);
}
