<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      &#9776;
    </button>
    <a id="navbar-search-icon-xs" class="hidden-sm-up" data-toggle="modal" data-target="#navbarSearchModal">
      <i class="fa fa-search"></i>
    </a>
    <a class="navbar-brand" href="/"><img src="/static/images/podverse-navbar-logo.png"></a>
    <div class="clearfix"></div>
    <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
      <ul class="nav navbar-nav">

        {% if currentPage == 'Login Redirect Page' %}
          <!-- Don't load user navbar buttons on login redirect page. -->
        {% elif locals.isLoggedIn %}
          <li id="navbar-btn" class="nav-item btn-group pull-xs-right">
            <a class="dropdown-toggle nav-link hidden-xs-down" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% if locals.loggedInName %}
                {{ locals.loggedInName }}
              {% else %}
                {{ locals.loggedInNickname }}
              {% endif %}
              <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu hidden-xs-down" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item" href="/settings">Settings</a>
              <a class="dropdown-item" id="logout-user-dropdown-item">Logout</a>
            </div>
          </li>

          <li class="nav-item" style="margin-left:0">
            <a id="navbar-search-icon" class="nav-link hidden-xs-down" data-toggle="modal" data-target="#navbarSearchModal"><i class="fa fa-search"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link hidden-xs-down" href="/my-podcasts">Podcasts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hidden-xs-down" href="/my-playlists">Playlists</a>
          </li>

          <a class="nav-link hidden-sm-up" href="/my-podcasts">Podcasts</a>
          <a class="nav-link hidden-sm-up" href="/my-playlists">Playlists</a>
          <a class="nav-link hidden-sm-up" href="/settings">Settings</a>
          <hr class="hidden-sm-up">
          <a class="nav-link hidden-sm-up" id="logout-user-nav-link">Logout</a>

        {% else %}
          <li id="navbar-btn" class="nav-item pull-xs-right">
            <a class="nav-link" id="login-btn">Login</a>
          </li>

          <li class="nav-item" style="margin-left: 0">
            <a id="navbar-search-icon" class="nav-link hidden-xs-down" data-toggle="modal" data-target="#navbarSearchModal"><i class="fa fa-search"></i></a>
          </li>
        {% endif %}

      </ul><!-- /.nav .navbar-nav -->
    </div><!-- /.collapse .navbar-toggleable-xs -->
  </div><!-- /.navbar-inner -->
</nav>

{% include "navbar/search-modal.html" %}

{% include "navbar/add-podcast-modal.html" %}

{% include "navbar/request-podcast-modal.html" %}
