<div class="modal fade" id="iosLoginModal" tabindex="-1" role="dialog" aria-labelledby="iosLoginModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>Download the iOS Podverse app to login.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="iosLoginModalGoToAppStoreButton">Go to App Store</button>
      </div>
    </div>
  </div>
</div>
