<div class="modal fade" id="requestPodcastModal" tabindex="-1" role="dialog" aria-labelledby="requestPodcastLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <label>Please send the podcast title to one of the following:</label>
        <p><div class="request-podcast-contact-label"><i class="fa fa-envelope-o"></i></div><a href="mailto:contact@podverse.fm">contact@podverse.fm</a></p>
        <p><div class="request-podcast-contact-label"><i class="fa fa-facebook-official"></i></div><a href="https://www.facebook.com/podverse">https://www.facebook.com/podverse</a></p>
        <p><div class="request-podcast-contact-label"><i class="fa fa-twitter"></i></div><a href="https://www.twitter.com/podverse">https://www.twitter.com/podverse</a></p>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="addPodcastModalAddButton">Add</button>
      </div> -->
    </div>
  </div>
</div>
