@mixin formHeaderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-lg);
}

@mixin formHeaderLabel {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
}

@mixin formButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2xl);
  margin-top: 2.25rem; // Keep specific value for form button spacing
}
