@mixin formHeaderRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@mixin formHeaderLabel {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
}

@mixin formButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: 2.25rem;
}
