@use '../../mixins/lineClamp' as *;

.sourceSelectorRow {
  text-align: left;
  display: flex;
  flex: 1;
  font-weight: var(--font-weight-light);
  width: 100%;
  overflow: hidden;
  border-radius: 0;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  min-width: 0;
}

.enclosureLabel {
  color: var(--text-color-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  @include line-clamp(2);
}

.sourceUri {
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
}
