@use '../../mixins/lineClamp' as *;

.sourceSelectorRow {
  text-align: left;
  display: flex;
  flex: 1;
  font-weight: var(--font-weight-light);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.enclosureLabel {
  color: var(--text-color-primary);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-normal);
  @include line-clamp(2);
}

.sourceUri {
  font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
  @include line-clamp(1);
}
