* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @include themeGen() {
    background-color: getThemeVal('backgroundPrimary');
    color: getThemeVal('textPrimary');
  }

  .app-wrapper {
    display: flex;
    flex-direction: row;
  }

  main {
    flex: 1;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  
  hr {
    border-bottom: 0;
    border-width: 1px;
    width: 100%;
  
    @include themeGen() {
      border-color: getThemeVal('divider');
    }
  }
}
