.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: var(--spacing-lg);
  margin: var(--spacing-4xl) var(--spacing-none);
}

.message p {
  font-size: var(--font-size-lg);
}

.message button {
  color: var(--text-color-link);
  font-size: var(--font-size-lg);
}
