.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
  margin: 2rem 0;
}

.message p {
  font-size: var(--font-size-lg);
}

.message button {
  color: var(--text-color-link);
  font-size: var(--font-size-lg);
}
