:root,
[data-ui-theme="dark"] {
  --background-color-primary: #030626;
  --background-color-secondary: #000000;
  --background-color-tertiary: #0f1235;
  --background-color-quaternary: #20244e;
  --background-color-special: #1E2A44;
  --background-color-opaque: rgba(255, 255, 255, 0.15);
  --background-color-glow: rgba(37, 42, 100, 0.6);
  --background-color-contrast: #ffffff;

  --border-color-primary: #3d9dfe;
  --border-color-secondary: #ffffff;
  --border-color-tertiary: #444444;
  --border-color-warning: #f4a24f;
  --border-color-opaque: rgba(255, 255, 255, 0.15);

  --box-shadow-focus: 0 0 0 4px rgba(0, 116, 217, 0.4);

  --text-color-primary: #ffffff;
  --text-color-secondary: #cccccc;
  --text-color-tertiary: #000000;
  --text-color-accent: #3d9dfe;
  --text-color-link: #74a8dc;
  --text-color-link-hover: #49a4ff;
  --text-color-contrast: #333333;
  --text-color-highlighted: #f4a24f;
  --text-color-danger: #e3342f;

  --text-line-height: 1.35;

  --progress-bar-before: #ffffff;
  --progress-bar-after: #252a64;
  --progress-bar-highlighted: rgba(61,157,254,.5);
}

:root,
[data-ui-theme="dark"] {
  --background-gradient-primary: linear-gradient(90deg, rgba(23,59,140,.81) -3%, var(--background-color-tertiary));
  
  --button-primary-bg: var(--border-color-primary);
  --button-primary-color: var(--text-color-tertiary);
  --button-primary-bg-hover: var(--text-color-link-hover);
  --button-secondary-bg: var(--background-color-glow);
  --button-secondary-color: var(--text-color-primary);
  --button-secondary-bg-hover: #34397b;
  --button-success-bg: #15803d;
  --button-success-color: var(--text-color-primary);
  --button-success-bg-hover: #1e9c53;
  --button-warning-bg: #f4a24f;
  --button-warning-color: var(--text-color-primary);
  --button-warning-bg-hover: #ffb84d;
  --button-highlight-bg: #ffd600;
  --button-highlight-bg-hover: #ffe066;
  --button-danger-bg: #bd2130;
  --button-danger-color: var(--text-color-primary);
  --button-danger-bg-hover: #e3342f;
  --button-outline-color: var(--border-color-primary);
  --button-opaque-bg: rgba(30,128,227,.16);
  --button-opaque-warning-bg: rgba(244,162,79,.16);
  --button-opaque-danger-bg: rgba(196,55,69,.16);
  --button-opaque-danger-border: #aa1e2b;
  --button-enabled-icon-color: var(--text-color-accent);
}
