{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>Podcast Clips</h1>
    <!-- <div>Most Popular Today</div> -->
    <div class="sub-header-dropdown">Most Popular This Week <!--<i class="fa fa-caret-down"></i>--></div>
    <!-- <div>Most Popular This Month</div>
    <div>Most Popular This Year</div>
    <div>Most Popular All Time</div> -->
    <!-- NOTE: the home-list reuses the HTML / CSS of the #playlist in the player.html. The designs may diverge someday, but for now CSS changes to these elements will also change the #playlist's items. -->
    <div id="home-list">
      {% for clip in clips %}
        <a class="playlist-item" href="/clips/{{clip.id}}">
          <div class="playlist-item-inner">
            <div class="playlist-item-image">
              <img src="{{ clip.podcastImageURL }}">
            </div>
            <div class="playlist-item-text-wrapper">
              <div class="playlist-item-podcast-title">
                {{ clip.podcastTitle }}
              </div>
              <div class="playlist-item-sub-title">
                {{ clip.episodeTitle }}
              </div>
              <div class="playlist-item-time">
                Clip:
                {{ clip.startTime | convertSecToHHMMSS }}
                {% if clip.endTime %}
                  to {{ clip.endTime | convertSecToHHMMSS }}
                {% else %}
                  start time
                {% endif %}
              </div>
              <div class="playlist-item-date">
                <!-- TODO: clips seem to be randomly saving pubDates. Does PostgreSQL
                           need some kind of special time zone handling or something?
                           It seems like the pubDates of clips are getting incrementally
                           bigger by 6 hours... -->
                {{ clip.episodePubDate | readableDate }}
                <!-- {{ clip.episodePubDate | readableDate }} -->
              </div>
            </div>
            {% if clip.title %}
              <div class="playlist-item-details">
                {{ clip.title | truncate(275) }}
              </div>
            {% endif %}
          </div><!-- /.playlist-item-inner -->
        </a><!-- /.playlist-item -->
      {% endfor %}
      <div class="pv-pagination">
        {% if pageIndex > 1 %}
          <div class="pv-pagination-prev">
            <i class="fa fa-angle-left"></i> Prev
          </div>
        {% endif %}
        {% if showNextButton %}
          <div class="pv-pagination-next">
            Next <i class="fa fa-angle-right"></i>
          </div>
        {% endif %}
      </div>
    </div><!-- /#home-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% endblock %}

{% block scripts %}
<script>
  window.pageIndex = parseInt({{ pageIndex }});
  window.showNextButton = false;
  {% if showNextButton %}
    showNextButton = true;
  {% endif %}
</script>

<script src="/static/build/vendors.js"></script>
<script src="/static/build/home/index.js"></script>
{% endblock %}
