{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-xs-12">
    <!-- NOTE: the home-list reuses the HTML / CSS of the #playlist in the player.html. The designs may diverge someday, but for now CSS changes to these elements will also change the #playlist's items. -->
    <div id="home-list">
      {% for clip in clips %}
        <a class="playlist-item" href="/clips/{{clip.id}}">
          <div class="playlist-item-inner">
            <div class="playlist-item-image">
              <img src="{{ clip.podcastImageURL }}">
            </div>
            <div class="playlist-item-text-wrapper">
              <div class="playlist-item-podcast-title">
                {{ clip.podcastTitle }}
              </div>
              <div class="playlist-item-sub-title">
                {{ clip.episodeTitle }}
              </div>
              <div class="playlist-item-time">
                Clip:
                {{ clip.startTime | convertSecToHHMMSS }}
                {% if clip.endTime %}
                  to {{ clip.endTime | convertSecToHHMMSS }}
                {% endif %}
              </div>
              <div class="playlist-item-date">
                {{ clip.episodePubDate | readableDate }}
              </div>
            </div>
            {% if clip.title %}
              <div class="playlist-item-details">
                {{ clip.title | truncate(295) }}
              </div>
            {% endif %}
          </div><!-- /.playlist-item-inner -->
        </a><!-- /.playlist-item -->
      {% endfor %}
      <div class="pv-pagination">
        {% if pageIndex > 1 %}
          <div class="pv-pagination-prev">
            <i class="fa fa-angle-left"></i> Prev
          </div>
        {% endif %}
        {% if showNextButton %}
          <div class="pv-pagination-next">
            Next <i class="fa fa-angle-right"></i>
          </div>
        {% endif %}
      </div>
    </div><!-- /#home-list -->
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->

{% endblock %}

{% block scripts %}
<script>
  window.pageIndex = parseInt({{ pageIndex }});
  window.showNextButton = false;
  {% if showNextButton %}
    showNextButton = true;
  {% endif %}
</script>

<script src="/static/build/vendors.js"></script>
<script src="/static/build/home/index.js"></script>
{% endblock %}
