.buttons {
  margin-top: 0.875rem;
}

.button {
  margin-right: 1.125rem;
}

.buttonGold {
  margin-right: 1.125rem;
  color: var(--button-highlight-bg);
}

.buttonGold:hover {
  color: var(--button-highlight-bg-hover);
}
