.buttons {
  margin-top: 1rem;
}

.button {
  margin-right: 1rem;
}

.buttonGold {
  margin-right: 1rem;
  color: var(--button-highlight-bg);
}

.buttonGold:hover {
  color: var(--button-highlight-bg-hover);
}
