.progress-slider {
  cursor: pointer;
  display: flex;
  flex: 1;
  position: relative;

  .flag {
    height: 26px;
    position: absolute;
    top: -8px;
    width: 1px;

    @include themeGen() {
      background-color: getThemeVal('sliderClipIndicator');
    }
  }

  .highlighted-section {
    height: 20px;
    pointer-events: none;
    position: absolute;
    top: -5px;

    @include themeGen() {
      background-color: getThemeVal('sliderHighlightSection');
    }
  }

  /*Chrome*/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      overflow: hidden;
      height: 10px;
      width: 100%;
      border-radius: 12px;
      -webkit-appearance: none;

      @include themeGen() {
        background-color: getThemeVal('sliderRemaining');
      }
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      margin-top: -1px;
    }

    input[type="range"]::-webkit-slider-thumb {
      width: 0;
      -webkit-appearance: none;
      height: 0;
      cursor: pointer;

      @include themeGen() {
        background: getThemeVal('sliderListened');
        box-shadow: -100vw 0 0 100vw getThemeVal('sliderListened');
      }
    }
  }

  input[type="range"]::-moz-range-progress {
    @include themeGen() {
      background-color: getThemeVal('sliderListened');
    }
  }
  input[type="range"]::-moz-range-track {
    @include themeGen() {
      background-color: getThemeVal('sliderRemaining');
    }
  }

  /* IE*/
  input[type="range"]::-ms-fill-lower {
    @include themeGen() {
      background-color: getThemeVal('sliderListened');
    }
  }
  input[type="range"]::-ms-fill-upper {
    @include themeGen() {
      background-color: getThemeVal('sliderRemaining');
    }
  }
}
