.ReactModal__Overlay .ReactModal__Content {
  &.mobile-nav-menu-modal {
    bottom: 0;
    left: 0;
    position: fixed;
    padding-top: 70px;
    right: 0;
    top: 0;
    width: 100vw;

    .button-close {
      left: 16px;
      right: unset;
    }

    .scrollable-content {
      display: flex;
      flex-direction: column;
      
      hr {
        margin: 16px 0 24px -24px;
        width: calc(100% + 48px) !important;
      }

      .mobile-nav-menu-section-header {
        display: flex;
        font-size: $text-sm;
        font-weight: $font-weight-bold;
        justify-content: center;
        margin-bottom: 12px;

        @include themeGen() {
          color: getThemeVal('textTertiary');
        }
      }
    }
  }
}

@media (min-width: $media-min-width-tablet-xl) {
  .ReactModal__Overlay {
    &.mobile-nav-menu-modal-overlay {
      display: none;
    }
  }
}

/* Avoid Chrome with support check,
   then use -webkit-fill-available to prevent vh sizing issues on iOS. */
@supports (-webkit-touch-callout: none) {
  .ReactModal__Overlay .ReactModal__Content {
    &.mobile-nav-menu-modal {
      height: -webkit-fill-available;
    }
  }
}
