body {
  .dropdown-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: $text-sm;
    justify-content: center;

    
    .dropdown__text {
      margin-right: 16px;
    }

    .dropdown__icon {
      align-items: center;
      display: flex;
      height: $button-small-height;
      line-height: $button-small-height;
  
      svg {
        height: 22px;
        width: 22px;
      }
    }
  
  }
  
  .dropdown__chevron {
    align-items: center;
    display: flex;
    height: $button-small-height;
    line-height: $button-small-height;
    margin-left: 8px;
    padding-top: 3px;
  
    svg {
      height: 12.25px !important;
      width: 14px;
    }
  }

  .outline-style {
    .dropdown__chevron {
      height: $button-small-height - 2px;
      line-height: $button-small-height - 2px;
    }
  }
  
  .react-dropdown-select {
    border-radius: $button-small-radius;
    min-height: $button-small-height;
    padding: 0px 5px;
    user-select: none;

    &.outline-style {
      border: 1px solid;
      margin: -1px 0;
      padding: 0px 14px 0 19px;
      @include themeGen() {
        border-color: getThemeVal('borderPrimary');
      }
    }

    .react-dropdown-select-dropdown {
      border: none;
      border-radius: $item-border-radius;
      left: unset !important;
      margin: 0;
      padding: 6px 0;
      right: 0 !important;
    
      @include themeGen() {
        background-color: getThemeVal('dropdownMenu');
      }
    
      .react-dropdown-select-item {
        border: none;
        border-radius: $item-border-radius;
        margin: 2px 8px;
        padding: 8px 32px 8px 12px;
        
        &.react-dropdown-select-item-selected {
          background-color: transparent;
          border: none;
        }
        
        &.react-dropdown-select-item-active, &:hover {
          border: none;
          box-shadow: $box-shadow;
          
          @include themeGen() {
            background-color: getThemeVal('dropdownMenuSelected');
          }
        }
      }
    }
  }

  .width-small {
    .react-dropdown-select-dropdown {
      width: $dropdown-menu-width-small;
    }
  }

  .width-medium {
    .react-dropdown-select-dropdown {
      width: $dropdown-menu-width-medium;
    }
  }

  .width-large {
    .react-dropdown-select-dropdown {
      width: $dropdown-menu-width-large;
    }
  }
}
